In [1]:
import pandas as pd
import requests
import json
import numpy as np
import geopandas as gpd

In [12]:
page_0 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72300?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=0'
page_1 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72300?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=1'
page_2 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72300?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=2'
page_3 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72300?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=3'

In [25]:
def get_df (page_url):
    response_API = requests.get(page_url)
    population_summary = json.loads(response_API.text)
    rows = []

    for data in population_summary['results']:
        for value in data['values']:
            row = {'id': data['id'],
                'name': data['name'],
                'year': value['year'],
                'value': value['val'],
                'powiat_numer': data['id'][2:4] + data['id'][7:9]}
            rows.append(row)
    df = pd.DataFrame(rows)
    return df

In [26]:
df_0 = get_df(page_0)
df_1 = get_df(page_1)
df_2 = get_df(page_2)
df_3 = get_df(page_3)

In [27]:
dfs = [df_0, df_1, df_2, df_3]

In [28]:
population_males_df = pd.concat(dfs, axis=0)

In [29]:
population_males_df

                id                name  year  value powiat_numer
0     011212001000    Powiat bocheński  2000  47834         1201
1     011212001000    Powiat bocheński  2001  48008         1201
2     011212001000    Powiat bocheński  2002  48130         1201
3     011212001000    Powiat bocheński  2003  48276         1201
4     011212001000    Powiat bocheński  2004  49093         1201
...            ...                 ...   ...    ...          ...
1775  071427338000  Powiat żyrardowski  2017  36367         1438
1776  071427338000  Powiat żyrardowski  2018  36261         1438
1777  071427338000  Powiat żyrardowski  2019  36231         1438
1778  071427338000  Powiat żyrardowski  2020  36622         1438
1779  071427338000  Powiat żyrardowski  2021  36325         1438

[8336 rows x 5 columns]

In [30]:
len(population_males_df['name'].unique())

372

In [31]:
population_males_df['name_normalized'] = population_males_df['name'].str.replace('Powiat', '')
population_males_df['name_normalized'] = population_males_df['name_normalized'].str.replace(' m.', '')
population_males_df['name_normalized'] = population_males_df['name_normalized'].str.lstrip()
population_males_df['name_normalized'] = population_males_df['name_normalized'].str.replace('Wałbrzych od 2013', 'Wałbrzych')
population_males_df['name_normalized'] = population_males_df['name_normalized'].str.replace('Wałbrzych do 2002', 'Wałbrzych')
population_males_df['name_normalized'] = population_males_df['name_normalized'].str.replace('st. Warszawa', 'Warszawa')
population_males_df

,id,name,year,value,powiat_numer,name_normalized
0,011212001000,Powiat bocheński,2000,47834,1201,bocheński
1,011212001000,Powiat bocheński,2001,48008,1201,bocheński
2,011212001000,Powiat bocheński,2002,48130,1201,bocheński
3,011212001000,Powiat bocheński,2003,48276,1201,bocheński
4,011212001000,Powiat bocheński,2004,49093,1201,bocheński
...,...,...,...,...,...,...
1775,071427338000,Powiat żyrardowski,2017,36367,1438,żyrardowski
1776,071427338000,Powiat żyrardowski,2018,36261,1438,żyrardowski
1777,071427338000,Powiat żyrardowski,2019,36231,1438,żyrardowski
1778,071427338000,Powiat żyrardowski,2020,36622,1438,żyrardowski
1779,071427338000,Powiat żyrardowski,2021,36325,1438,żyrardowski

In [84]:
population_males_df.query("name_normalized=='Wałbrzych'")

,id,name,year,value,powiat_numer,name_normalized
1054,030210363000,Powiat m. Wałbrzych do 2002,2000,62217,0263,Wałbrzych
1055,030210363000,Powiat m. Wałbrzych do 2002,2001,61707,0263,Wałbrzych
1056,030210363000,Powiat m. Wałbrzych do 2002,2002,61287,0263,Wałbrzych
1057,030210365000,Powiat m. Wałbrzych od 2013,2013,55642,0265,Wałbrzych
1058,030210365000,Powiat m. Wałbrzych od 2013,2014,55034,0265,Wałbrzych
1059,030210365000,Powiat m. Wałbrzych od 2013,2015,54375,0265,Wałbrzych
1060,030210365000,Powiat m. Wałbrzych od 2013,2016,53959,0265,Wałbrzych
1061,030210365000,Powiat m. Wałbrzych od 2013,2017,53524,0265,Wałbrzych
1062,030210365000,Powiat m. Wałbrzych od 2013,2018,52966,0265,Wałbrzych
1063,030210365000,Powiat m. Wałbrzych od 2013,2019,52459,0265,Wałbrzych
1064,030210365000,Powiat m. Wałbrzych od 2013,2020,49314,0265,Wałbrzych
1065,030210365000,Powiat m. Wałbrzych od 2013,2021,48534,0265,Wałbrzych

In [33]:
ALL_DATA_Y_M = pd.read_csv(
    "/Users/nelatoma/Documents/icm/magisterka/zgony/MAGISTERKA_OFFICIAL/results/all_poviats_stats_males.csv"
)

In [36]:
poviats_data_Y = ALL_DATA_Y_M.query('powiat_numer > 32')
poviats_data_Y

               wiek  powiat_numer    powiat_nazwa  YEAR wiek_eurostat  sum
2            Ogółem           201   bolesławiecki  2000         TOTAL  434
3            Ogółem           202  dzierżoniowski  2000         TOTAL  623
4            Ogółem           203       głogowski  2000         TOTAL  364
5            Ogółem           204        górowski  2000         TOTAL  193
6            Ogółem           205        jaworski  2000         TOTAL  252
...             ...           ...             ...   ...           ...  ...
174215  90 i więcej          3217         wałecki  2021        Y_GE85   19
174216  90 i więcej          3218         łobeski  2021        Y_GE85   20
174217  90 i więcej          3261        Koszalin  2021        Y_GE85   55
174218  90 i więcej          3262        Szczecin  2021        Y_GE85  279
174219  90 i więcej          3263     Świnoujście  2021        Y_GE85   14

[166740 rows x 6 columns]

In [37]:
total_df = poviats_data_Y.query('wiek_eurostat == "TOTAL"')

In [41]:
total_df_copy = total_df.copy()

In [50]:
total_df_copy['name_normalized'] = total_df_copy['powiat_nazwa']

In [42]:
population_df_copy = population_males_df.copy()

Obróbka danych powiatow, ktore staly sie innymi powiatami, jak na przyklad karkonoski i jeleniogórski

In [44]:
jeleniogorski_mask = population_df_copy['name_normalized'].str.endswith('jeleniogórski')

In [45]:
population_df_copy.loc[jeleniogorski_mask, 'name_normalized'] = 'karkonoski'

In [51]:
jeleniogorski_mask = total_df_copy['name_normalized'].str.endswith('jeleniogórski')

In [52]:
total_df_copy.loc[jeleniogorski_mask, 'name_normalized'] = 'karkonoski'

In [54]:
total_df_copy.query('name_normalized == "karkonoski"')

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
7,Ogółem,206,jeleniogórski,2000,TOTAL,358,karkonoski
7807,Ogółem,206,jeleniogórski,2001,TOTAL,355,karkonoski
15607,Ogółem,206,jeleniogórski,2002,TOTAL,327,karkonoski
23567,Ogółem,206,jeleniogórski,2003,TOTAL,334,karkonoski
31487,Ogółem,206,jeleniogórski,2004,TOTAL,372,karkonoski
39407,Ogółem,206,jeleniogórski,2005,TOTAL,393,karkonoski
47327,Ogółem,206,jeleniogórski,2006,TOTAL,348,karkonoski
55247,Ogółem,206,jeleniogórski,2007,TOTAL,336,karkonoski
63167,Ogółem,206,jeleniogórski,2008,TOTAL,412,karkonoski
71087,Ogółem,206,jeleniogórski,2009,TOTAL,396,karkonoski
79007,Ogółem,206,jeleniogórski,2010,TOTAL,383,karkonoski
86927,Ogółem,206,jeleniogórski,2011,TOTAL,376,karkonoski
94847,Ogółem,206,jeleniogórski,2012,TOTAL,353,karkonoski
102767,Ogółem,206,jeleniogórski,2013,TOTAL,387,karkonoski
110707,Ogółem,206,jeleniogórski,2014,TOTAL,342,karkonoski
118647,Ogółem,206,jeleniogórski,2015,TOTAL,397,karkonoski
126587,Ogółem,206,jeleniogórski,2016,TOTAL,394,karkonoski
134527,Ogółem,206,jeleniogórski,2017,TOTAL,387,karkonoski
142467,Ogółem,206,jeleniogórski,2018,TOTAL,439,karkonoski
150407,Ogółem,206,jeleniogórski,2019,TOTAL,384,karkonoski
158347,Ogółem,206,jeleniogórski,2020,TOTAL,489,karkonoski
166287,Ogółem,206,karkonoski,2021,TOTAL,469,karkonoski

In [55]:
total_df_copy.query("powiat_nazwa=='Warszawa' or powiat_nazwa == 'warszawski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
173,Ogółem,1431,warszawski,2000,TOTAL,8702,warszawski
7973,Ogółem,1431,warszawski,2001,TOTAL,8441,warszawski
15775,Ogółem,1431,warszawski,2002,TOTAL,8441,warszawski
15787,Ogółem,1465,Warszawa,2002,TOTAL,87,Warszawa
23745,Ogółem,1465,Warszawa,2003,TOTAL,8738,Warszawa
31665,Ogółem,1465,Warszawa,2004,TOTAL,8775,Warszawa
39585,Ogółem,1465,Warszawa,2005,TOTAL,8705,Warszawa
47505,Ogółem,1465,Warszawa,2006,TOTAL,8579,Warszawa
55425,Ogółem,1465,Warszawa,2007,TOTAL,8692,Warszawa
63345,Ogółem,1465,Warszawa,2008,TOTAL,8648,Warszawa
71265,Ogółem,1465,Warszawa,2009,TOTAL,9135,Warszawa
79185,Ogółem,1465,Warszawa,2010,TOTAL,8533,Warszawa
87105,Ogółem,1465,Warszawa,2011,TOTAL,8518,Warszawa
95025,Ogółem,1465,Warszawa,2012,TOTAL,8844,Warszawa
102946,Ogółem,1465,Warszawa,2013,TOTAL,8860,Warszawa
110886,Ogółem,1465,Warszawa,2014,TOTAL,8582,Warszawa
118826,Ogółem,1465,Warszawa,2015,TOTAL,8995,Warszawa
126766,Ogółem,1465,Warszawa,2016,TOTAL,8941,Warszawa
134706,Ogółem,1465,Warszawa,2017,TOTAL,8964,Warszawa
142646,Ogółem,1465,Warszawa,2018,TOTAL,9369,Warszawa
150586,Ogółem,1465,Warszawa,2019,TOTAL,8862,Warszawa
158526,Ogółem,1465,Warszawa,2020,TOTAL,10785,Warszawa
166466,Ogółem,1465,Warszawa,2021,TOTAL,11495,Warszawa

In [56]:
population_df_copy.query("name_normalized=='Warszawa' or name_normalized == 'warszawski'")

,id,name,year,value,powiat_numer,name_normalized
856,071412831000,Powiat warszawski,2000,774707,1431,warszawski
857,071412831000,Powiat warszawski,2001,773754,1431,warszawski
858,071412865000,Powiat m. st. Warszawa,2002,780883,1465,Warszawa
859,071412865000,Powiat m. st. Warszawa,2003,780376,1465,Warszawa
860,071412865000,Powiat m. st. Warszawa,2004,781569,1465,Warszawa
861,071412865000,Powiat m. st. Warszawa,2005,782331,1465,Warszawa
862,071412865000,Powiat m. st. Warszawa,2006,783461,1465,Warszawa
863,071412865000,Powiat m. st. Warszawa,2007,784789,1465,Warszawa
864,071412865000,Powiat m. st. Warszawa,2008,786285,1465,Warszawa
865,071412865000,Powiat m. st. Warszawa,2009,787949,1465,Warszawa
866,071412865000,Powiat m. st. Warszawa,2010,780340,1465,Warszawa
867,071412865000,Powiat m. st. Warszawa,2011,783817,1465,Warszawa
868,071412865000,Powiat m. st. Warszawa,2012,786888,1465,Warszawa
869,071412865000,Powiat m. st. Warszawa,2013,791207,1465,Warszawa
870,071412865000,Powiat m. st. Warszawa,2014,796192,1465,Warszawa
871,071412865000,Powiat m. st. Warszawa,2015,800800,1465,Warszawa
872,071412865000,Powiat m. st. Warszawa,2016,805381,1465,Warszawa
873,071412865000,Powiat m. st. Warszawa,2017,810777,1465,Warszawa
874,071412865000,Powiat m. st. Warszawa,2018,817660,1465,Warszawa
875,071412865000,Powiat m. st. Warszawa,2019,824339,1465,Warszawa
876,071412865000,Powiat m. st. Warszawa,2020,858762,1465,Warszawa
877,071412865000,Powiat m. st. Warszawa,2021,859701,1465,Warszawa

W sumie nie trzeba zmieniac nazw bo ID sie zgadzaja, jedyne co to trzeba policzyc sumę w total_df_copy

In [57]:
total_df_copy.loc[15787, 'sum'] = total_df_copy.loc[15787]['sum'] + total_df_copy.loc[15775]['sum']

In [58]:
total_df_copy = total_df_copy.query("powiat_nazwa != 'warszawski' or YEAR != 2002")

In [59]:
total_df_copy.query("powiat_nazwa=='Warszawa' or powiat_nazwa == 'warszawski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
173,Ogółem,1431,warszawski,2000,TOTAL,8702,warszawski
7973,Ogółem,1431,warszawski,2001,TOTAL,8441,warszawski
15787,Ogółem,1465,Warszawa,2002,TOTAL,8528,Warszawa
23745,Ogółem,1465,Warszawa,2003,TOTAL,8738,Warszawa
31665,Ogółem,1465,Warszawa,2004,TOTAL,8775,Warszawa
39585,Ogółem,1465,Warszawa,2005,TOTAL,8705,Warszawa
47505,Ogółem,1465,Warszawa,2006,TOTAL,8579,Warszawa
55425,Ogółem,1465,Warszawa,2007,TOTAL,8692,Warszawa
63345,Ogółem,1465,Warszawa,2008,TOTAL,8648,Warszawa
71265,Ogółem,1465,Warszawa,2009,TOTAL,9135,Warszawa
79185,Ogółem,1465,Warszawa,2010,TOTAL,8533,Warszawa
87105,Ogółem,1465,Warszawa,2011,TOTAL,8518,Warszawa
95025,Ogółem,1465,Warszawa,2012,TOTAL,8844,Warszawa
102946,Ogółem,1465,Warszawa,2013,TOTAL,8860,Warszawa
110886,Ogółem,1465,Warszawa,2014,TOTAL,8582,Warszawa
118826,Ogółem,1465,Warszawa,2015,TOTAL,8995,Warszawa
126766,Ogółem,1465,Warszawa,2016,TOTAL,8941,Warszawa
134706,Ogółem,1465,Warszawa,2017,TOTAL,8964,Warszawa
142646,Ogółem,1465,Warszawa,2018,TOTAL,9369,Warszawa
150586,Ogółem,1465,Warszawa,2019,TOTAL,8862,Warszawa
158526,Ogółem,1465,Warszawa,2020,TOTAL,10785,Warszawa
166466,Ogółem,1465,Warszawa,2021,TOTAL,11495,Warszawa

In [61]:
population_df_copy.groupby("name_normalized").count().query("year < 22")

                 id  name  year  value  powiat_numer
name_normalized
Warszawa         20    20    20     20            20
Wałbrzych        12    12    12     12            12
brzeziński       20    20    20     20            20
gołdapski        20    20    20     20            20
leski            20    20    20     20            20
sztumski         20    20    20     20            20
warszawski        2     2     2      2             2
wschowski        20    20    20     20            20
węgorzewski      20    20    20     20            20
łobeski          20    20    20     20            20

In [63]:
total_df_copy = total_df_copy.rename(columns={'YEAR':'year', 'sum':'deaths'})

In [64]:
population_df_copy = population_df_copy.rename(columns={'value':'population'})

In [67]:
total_df_copy.groupby("name_normalized").count().query("year > 22")

                 wiek  powiat_numer  powiat_nazwa  year  wiek_eurostat  deaths
name_normalized
bielski            44            44            44    44             44      44
brzeski            44            44            44    44             44      44
grodziski          44            44            44    44             44      44
krośnieński        44            44            44    44             44      44
nowodworski        44            44            44    44             44      44
opolski            44            44            44    44             44      44
ostrowski          44            44            44    44             44      44
tomaszowski        44            44            44    44             44      44
średzki            44            44            44    44             44      44
świdnicki          44            44            44    44             44      44

In [69]:
len(total_df_copy)

8336

In [70]:
len(population_df_copy)

8336

In [71]:
total_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8336 entries, 2 to 166676
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   wiek             8336 non-null   object
 1   powiat_numer     8336 non-null   int64
 2   powiat_nazwa     8336 non-null   object
 3   year             8336 non-null   int64
 4   wiek_eurostat    8336 non-null   object
 5   deaths           8336 non-null   int64
 6   name_normalized  8336 non-null   object
dtypes: int64(3), object(4)
memory usage: 521.0+ KB

In [72]:
total_df_copy['powiat_numer'] = total_df_copy['powiat_numer'].astype('str')
total_df_copy['year'] = total_df_copy['year'].astype('str')

In [73]:
total_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8336 entries, 2 to 166676
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   wiek             8336 non-null   object
 1   powiat_numer     8336 non-null   object
 2   powiat_nazwa     8336 non-null   object
 3   year             8336 non-null   object
 4   wiek_eurostat    8336 non-null   object
 5   deaths           8336 non-null   int64
 6   name_normalized  8336 non-null   object
dtypes: int64(1), object(6)
memory usage: 521.0+ KB

In [74]:
population_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8336 entries, 0 to 1779
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               8336 non-null   object
 1   name             8336 non-null   object
 2   year             8336 non-null   object
 3   population       8336 non-null   int64
 4   powiat_numer     8336 non-null   object
 5   name_normalized  8336 non-null   object
dtypes: int64(1), object(5)
memory usage: 455.9+ KB

In [75]:
population_df_copy['powiat_numer'] = population_df_copy['powiat_numer'].astype('int').astype('str')

JOIN

In [76]:
merged_df = pd.merge(population_df_copy, total_df_copy, on=['year', 'powiat_numer'], how='inner')

In [77]:
merged_df

,id,name,year,population,powiat_numer,name_normalized_x,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_y
0,011212001000,Powiat bocheński,2000,47834,1201,bocheński,Ogółem,bocheński,TOTAL,412,bocheński
1,011212001000,Powiat bocheński,2001,48008,1201,bocheński,Ogółem,bocheński,TOTAL,446,bocheński
2,011212001000,Powiat bocheński,2002,48130,1201,bocheński,Ogółem,bocheński,TOTAL,469,bocheński
3,011212001000,Powiat bocheński,2003,48276,1201,bocheński,Ogółem,bocheński,TOTAL,454,bocheński
4,011212001000,Powiat bocheński,2004,49093,1201,bocheński,Ogółem,bocheński,TOTAL,457,bocheński
...,...,...,...,...,...,...,...,...,...,...,...
8331,071427338000,Powiat żyrardowski,2017,36367,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,496,żyrardowski
8332,071427338000,Powiat żyrardowski,2018,36261,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,522,żyrardowski
8333,071427338000,Powiat żyrardowski,2019,36231,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,463,żyrardowski
8334,071427338000,Powiat żyrardowski,2020,36622,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,582,żyrardowski
8335,071427338000,Powiat żyrardowski,2021,36325,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,627,żyrardowski

In [78]:
merged_df = merged_df.rename(columns={'name_normalized_x':'name_normalized_pop', 'name_normalized_y':'name_normalized_tot'})

In [79]:
merged_df.query("name_normalized_pop == 'świdnicki'")

,id,name,year,population,powiat_numer,name_normalized_pop,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot
3186,030210319000,Powiat świdnicki,2000,78111,219,świdnicki,Ogółem,świdnicki,TOTAL,908,świdnicki
3187,030210319000,Powiat świdnicki,2001,77904,219,świdnicki,Ogółem,świdnicki,TOTAL,839,świdnicki
3188,030210319000,Powiat świdnicki,2002,77641,219,świdnicki,Ogółem,świdnicki,TOTAL,842,świdnicki
3189,030210319000,Powiat świdnicki,2003,77436,219,świdnicki,Ogółem,świdnicki,TOTAL,832,świdnicki
3190,030210319000,Powiat świdnicki,2004,77204,219,świdnicki,Ogółem,świdnicki,TOTAL,904,świdnicki
3191,030210319000,Powiat świdnicki,2005,77155,219,świdnicki,Ogółem,świdnicki,TOTAL,851,świdnicki
3192,030210319000,Powiat świdnicki,2006,76864,219,świdnicki,Ogółem,świdnicki,TOTAL,856,świdnicki
3193,030210319000,Powiat świdnicki,2007,76522,219,świdnicki,Ogółem,świdnicki,TOTAL,912,świdnicki
3194,030210319000,Powiat świdnicki,2008,76417,219,świdnicki,Ogółem,świdnicki,TOTAL,923,świdnicki
3195,030210319000,Powiat świdnicki,2009,76360,219,świdnicki,Ogółem,świdnicki,TOTAL,910,świdnicki
3196,030210319000,Powiat świdnicki,2010,78404,219,świdnicki,Ogółem,świdnicki,TOTAL,871,świdnicki
3197,030210319000,Powiat świdnicki,2011,78322,219,świdnicki,Ogółem,świdnicki,TOTAL,832,świdnicki
3198,030210319000,Powiat świdnicki,2012,78107,219,świdnicki,Ogółem,świdnicki,TOTAL,949,świdnicki
3199,030210319000,Powiat świdnicki,2013,77677,219,świdnicki,Ogółem,świdnicki,TOTAL,890,świdnicki
3200,030210319000,Powiat świdnicki,2014,77456,219,świdnicki,Ogółem,świdnicki,TOTAL,900,świdnicki
3201,030210319000,Powiat świdnicki,2015,77047,219,świdnicki,Ogółem,świdnicki,TOTAL,952,świdnicki
3202,030210319000,Powiat świdnicki,2016,76671,219,świdnicki,Ogółem,świdnicki,TOTAL,874,świdnicki
3203,030210319000,Powiat świdnicki,2017,76424,219,świdnicki,Ogółem,świdnicki,TOTAL,892,świdnicki
3204,030210319000,Powiat świdnicki,2018,76072,219,świdnicki,Ogółem,świdnicki,TOTAL,941,świdnicki
3205,030210319000,Powiat świdnicki,2019,75727,219,świdnicki,Ogółem,świdnicki,TOTAL,948,świdnicki
3206,030210319000,Powiat świdnicki,2020,73979,219,świdnicki,Ogółem,świdnicki,TOTAL,1158,świdnicki
3207,030210319000,Powiat świdnicki,2021,73402,219,świdnicki,Ogółem,świdnicki,TOTAL,1161,świdnicki
6314,060611117000,Powiat świdnicki,2000,35205,617,świdnicki,Ogółem,świdnicki,TOTAL,388,świdnicki
6315,060611117000,Powiat świdnicki,2001,35112,617,świdnicki,Ogółem,świdnicki,TOTAL,387,świdnicki
6316,060611117000,Powiat świdnicki,2002,35101,617,świdnicki,Ogółem,świdnicki,TOTAL,373,świdnicki
6317,060611117000,Powiat świdnicki,2003,35161,617,świdnicki,Ogółem,świdnicki,TOTAL,371,świdnicki
6318,060611117000,Powiat świdnicki,2004,35034,617,świdnicki,Ogółem,świdnicki,TOTAL,407,świdnicki
6319,060611117000,Powiat świdnicki,2005,34948,617,świdnicki,Ogółem,świdnicki,TOTAL,413,świdnicki
6320,060611117000,Powiat świdnicki,2006,34933,617,świdnicki,Ogółem,świdnicki,TOTAL,407,świdnicki
6321,060611117000,Powiat świdnicki,2007,34974,617,świdnicki,Ogółem,świdnicki,TOTAL,417,świdnicki
6322,060611117000,Powiat świdnicki,2008,34954,617,świdnicki,Ogółem,świdnicki,TOTAL,394,świdnicki
6323,060611117000,Powiat świdnicki,2009,34914,617,świdnicki,Ogółem,świdnicki,TOTAL,396,świdnicki
6324,060611117000,Powiat świdnicki,2010,35455,617,świdnicki,Ogółem,świdnicki,TOTAL,439,świdnicki
6325,060611117000,Powiat świdnicki,2011,35352,617,świdnicki,Ogółem,świdnicki,TOTAL,430,świdnicki
6326,060611117000,Powiat świdnicki,2012,35230,617,świdnicki,Ogółem,świdnicki,TOTAL,400,świdnicki
6327,060611117000,Powiat świdnicki,2013,35133,617,świdnicki,Ogółem,świdnicki,TOTAL,346,świdnicki
6328,060611117000,Powiat świdnicki,2014,34935,617,świdnicki,Ogółem,świdnicki,TOTAL,390,świdnicki
6329,060611117000,Powiat świdnicki,2015,34881,617,świdnicki,Ogółem,świdnicki,TOTAL,357,świdnicki
6330,060611117000,Powiat świdnicki,2016,34849,617,świdnicki,Ogółem,świdnicki,TOTAL,390,świdnicki
6331,060611117000,Powiat świdnicki,2017,34793,617,świdnicki,Ogółem,świdnicki,TOTAL,383,świdnicki
6332,060611117000,Powiat świdnicki,2018,34650,617,świdnicki,Ogółem,świdnicki,TOTAL,406,świdnicki
6333,060611117000,Powiat świdnicki,2019,34536,617,świdnicki,Ogółem,świdnicki,TOTAL,402,świdnicki
6334,060611117000,Powiat świdnicki,2020,34028,617,świdnicki,Ogółem,świdnicki,TOTAL,469,świdnicki
6335,060611117000,Powiat świdnicki,2021,33686,617,świdnicki,Ogółem,świdnicki,TOTAL,522,świdnicki

In [80]:
merged_df['CMR'] = merged_df['deaths']/merged_df['population']*100000

In [81]:
merged_df

,id,name,year,population,powiat_numer,name_normalized_pop,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot,CMR
0,011212001000,Powiat bocheński,2000,47834,1201,bocheński,Ogółem,bocheński,TOTAL,412,bocheński,861.312037
1,011212001000,Powiat bocheński,2001,48008,1201,bocheński,Ogółem,bocheński,TOTAL,446,bocheński,929.011831
2,011212001000,Powiat bocheński,2002,48130,1201,bocheński,Ogółem,bocheński,TOTAL,469,bocheński,974.444214
3,011212001000,Powiat bocheński,2003,48276,1201,bocheński,Ogółem,bocheński,TOTAL,454,bocheński,940.425884
4,011212001000,Powiat bocheński,2004,49093,1201,bocheński,Ogółem,bocheński,TOTAL,457,bocheński,930.886277
...,...,...,...,...,...,...,...,...,...,...,...,...
8331,071427338000,Powiat żyrardowski,2017,36367,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,496,żyrardowski,1363.873842
8332,071427338000,Powiat żyrardowski,2018,36261,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,522,żyrardowski,1439.563167
8333,071427338000,Powiat żyrardowski,2019,36231,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,463,żyrardowski,1277.911181
8334,071427338000,Powiat żyrardowski,2020,36622,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,582,żyrardowski,1589.208672
8335,071427338000,Powiat żyrardowski,2021,36325,1438,żyrardowski,Ogółem,żyrardowski,TOTAL,627,żyrardowski,1726.083964

In [82]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8336 non-null   object
 1   name                 8336 non-null   object
 2   year                 8336 non-null   object
 3   population           8336 non-null   int64
 4   powiat_numer         8336 non-null   object
 5   name_normalized_pop  8336 non-null   object
 6   wiek                 8336 non-null   object
 7   powiat_nazwa         8336 non-null   object
 8   wiek_eurostat        8336 non-null   object
 9   deaths               8336 non-null   int64
 10  name_normalized_tot  8336 non-null   object
 11  CMR                  8336 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 781.6+ KB

In [83]:
merged_df.to_csv('../results/CMR_total_males_Y.csv', index=False)

In [85]:
population_df_copy

,id,name,year,population,powiat_numer,name_normalized
0,011212001000,Powiat bocheński,2000,47834,1201,bocheński
1,011212001000,Powiat bocheński,2001,48008,1201,bocheński
2,011212001000,Powiat bocheński,2002,48130,1201,bocheński
3,011212001000,Powiat bocheński,2003,48276,1201,bocheński
4,011212001000,Powiat bocheński,2004,49093,1201,bocheński
...,...,...,...,...,...,...
1775,071427338000,Powiat żyrardowski,2017,36367,1438,żyrardowski
1776,071427338000,Powiat żyrardowski,2018,36261,1438,żyrardowski
1777,071427338000,Powiat żyrardowski,2019,36231,1438,żyrardowski
1778,071427338000,Powiat żyrardowski,2020,36622,1438,żyrardowski
1779,071427338000,Powiat żyrardowski,2021,36325,1438,żyrardowski

In [ ]:
population_df_copy.to_csv('../results/population_TOTAL_MALES.csv', index=False)