In [371]:
import pandas as pd
import requests
import json
import numpy as np
import geopandas as gpd

In [239]:
page_0 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72305?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=0'
page_1 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72305?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=1'
page_2 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72305?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=2'
page_3 = 'https://bdl.stat.gov.pl/api/v1/data/by-variable/72305?unit-level=5&year=2000&year=2001&year=2002&year=2003&year=2004&year=2005&year=2006&year=2007&year=2008&year=2009&year=2010&year=2011&year=2012&year=2013&year=2014&year=2015&year=2016&year=2017&year=2018&year=2019&year=2020&year=2021&page-size=100&page=3'

In [240]:
def get_df (page_url):
    response_API = requests.get(page_url)
    population_summary = json.loads(response_API.text)
    rows = []

    for data in population_summary['results']:
        for value in data['values']:
            row = {'id': data['id'],
                'name': data['name'],
                'year': value['year'],
                'value': value['val']}
            rows.append(row)
    df = pd.DataFrame(rows)
    return df

In [241]:
df_0 = get_df(page_0)
df_1 = get_df(page_1)
df_2 = get_df(page_2)
df_3 = get_df(page_3)

In [242]:
dfs = [df_0, df_1, df_2, df_3]

In [243]:
len(df_3['name'].unique())

82

In [244]:
population_summary_df = pd.concat(dfs, axis=0)

In [245]:
population_summary_df

                id                name  year   value
0     011212001000    Powiat bocheński  2000   97328
1     011212001000    Powiat bocheński  2001   97602
2     011212001000    Powiat bocheński  2002   97962
3     011212001000    Powiat bocheński  2003   98394
4     011212001000    Powiat bocheński  2004  100063
...            ...                 ...   ...     ...
1775  071427338000  Powiat żyrardowski  2017   76056
1776  071427338000  Powiat żyrardowski  2018   75848
1777  071427338000  Powiat żyrardowski  2019   75749
1778  071427338000  Powiat żyrardowski  2020   76141
1779  071427338000  Powiat żyrardowski  2021   75614

[8336 rows x 4 columns]

In [246]:
len(population_summary_df['name'].unique())

372

In [247]:
population_summary_df['name_normalized'] = population_summary_df['name'].str.replace('Powiat', '')
population_summary_df['name_normalized'] = population_summary_df['name_normalized'].str.replace(' m.', '')
population_summary_df['name_normalized'] = population_summary_df['name_normalized'].str.lstrip()
population_summary_df['name_normalized'] = population_summary_df['name_normalized'].str.replace('Wałbrzych od 2013', 'Wałbrzych')
population_summary_df['name_normalized'] = population_summary_df['name_normalized'].str.replace('Wałbrzych do 2002', 'Wałbrzych')
population_summary_df['name_normalized'] = population_summary_df['name_normalized'].str.replace('st. Warszawa', 'Warszawa')
population_summary_df

                id                name  year   value name_normalized
0     011212001000    Powiat bocheński  2000   97328       bocheński
1     011212001000    Powiat bocheński  2001   97602       bocheński
2     011212001000    Powiat bocheński  2002   97962       bocheński
3     011212001000    Powiat bocheński  2003   98394       bocheński
4     011212001000    Powiat bocheński  2004  100063       bocheński
...            ...                 ...   ...     ...             ...
1775  071427338000  Powiat żyrardowski  2017   76056     żyrardowski
1776  071427338000  Powiat żyrardowski  2018   75848     żyrardowski
1777  071427338000  Powiat żyrardowski  2019   75749     żyrardowski
1778  071427338000  Powiat żyrardowski  2020   76141     żyrardowski
1779  071427338000  Powiat żyrardowski  2021   75614     żyrardowski

[8336 rows x 5 columns]

In [248]:
population_summary_df.query("id=='030210161000'")

               id                    name  year  value name_normalized
790  030210161000  Powiat m. Jelenia Góra  2000  90130    Jelenia Góra
791  030210161000  Powiat m. Jelenia Góra  2001  89560    Jelenia Góra
792  030210161000  Powiat m. Jelenia Góra  2002  88866    Jelenia Góra
793  030210161000  Powiat m. Jelenia Góra  2003  88034    Jelenia Góra
794  030210161000  Powiat m. Jelenia Góra  2004  87643    Jelenia Góra
795  030210161000  Powiat m. Jelenia Góra  2005  87017    Jelenia Góra
796  030210161000  Powiat m. Jelenia Góra  2006  86503    Jelenia Góra
797  030210161000  Powiat m. Jelenia Góra  2007  85782    Jelenia Góra
798  030210161000  Powiat m. Jelenia Góra  2008  85378    Jelenia Góra
799  030210161000  Powiat m. Jelenia Góra  2009  84564    Jelenia Góra
800  030210161000  Powiat m. Jelenia Góra  2010  84015    Jelenia Góra
801  030210161000  Powiat m. Jelenia Góra  2011  83463    Jelenia Góra
802  030210161000  Powiat m. Jelenia Góra  2012  82846    Jelenia Góra
803  030210161000  Powiat m. Jelenia Góra  2013  81985    Jelenia Góra
804  030210161000  Powiat m. Jelenia Góra  2014  81408    Jelenia Góra
805  030210161000  Powiat m. Jelenia Góra  2015  81010    Jelenia Góra
806  030210161000  Powiat m. Jelenia Góra  2016  80524    Jelenia Góra
807  030210161000  Powiat m. Jelenia Góra  2017  80072    Jelenia Góra
808  030210161000  Powiat m. Jelenia Góra  2018  79480    Jelenia Góra
809  030210161000  Powiat m. Jelenia Góra  2019  79061    Jelenia Góra
810  030210161000  Powiat m. Jelenia Góra  2020  77538    Jelenia Góra
811  030210161000  Powiat m. Jelenia Góra  2021  76570    Jelenia Góra

In [271]:
ALL_DATA_Y = pd.read_csv(
    "/Users/nelatoma/Documents/icm/magisterka/zgony/MAGISTERKA_OFFICIAL/results/all_poviats_stats.csv"
)

In [278]:
poviats_data_Y = ALL_DATA_Y.query("powiat_numer > 32")

Powiat jeleniogórski w 2021 zmienił nazwę na karkonoski

In [279]:
poviats_data_Y.query("powiat_nazwa=='karkonoski'")

               wiek  powiat_numer powiat_nazwa  YEAR wiek_eurostat  sum
166287       Ogółem           206   karkonoski  2021         TOTAL  940
166684        0 - 4           206   karkonoski  2021         Y_LT5    2
167081        5 - 9           206   karkonoski  2021          Y5-9    0
167478      10 - 14           206   karkonoski  2021        Y10-14    0
167875      15 - 19           206   karkonoski  2021        Y15-19    1
168272      20 - 24           206   karkonoski  2021        Y20-24    1
168669      25 - 29           206   karkonoski  2021        Y25-29    6
169066      30 - 34           206   karkonoski  2021        Y30-34    2
169463      35 - 39           206   karkonoski  2021        Y35-39   11
169860      40 - 44           206   karkonoski  2021        Y40-44   18
170257      45 - 49           206   karkonoski  2021        Y45-49   22
170654      50 - 54           206   karkonoski  2021        Y50-54   27
171051      55 - 59           206   karkonoski  2021        Y55-59   37
171448      60 - 64           206   karkonoski  2021        Y60-64  102
171845      65 - 69           206   karkonoski  2021        Y65-69  126
172242      70 - 74           206   karkonoski  2021        Y70-74  151
172639      75 - 79           206   karkonoski  2021        Y75-79   71
173036      80 - 84           206   karkonoski  2021        Y80-84  102
173433      85 - 89           206   karkonoski  2021        Y_GE85  118
173830  90 i więcej           206   karkonoski  2021        Y_GE85  143

In [280]:
poviats_data_Y.query("powiat_nazwa=='jeleniogórski'")

               wiek  powiat_numer   powiat_nazwa  YEAR wiek_eurostat  sum
7            Ogółem           206  jeleniogórski  2000         TOTAL  690
397           0 - 4           206  jeleniogórski  2000         Y_LT5    7
787           5 - 9           206  jeleniogórski  2000          Y5-9    3
1177        10 - 14           206  jeleniogórski  2000        Y10-14    1
1567        15 - 19           206  jeleniogórski  2000        Y15-19    5
...             ...           ...            ...   ...           ...  ...
164302      70 - 74           206  jeleniogórski  2020        Y70-74  135
164699      75 - 79           206  jeleniogórski  2020        Y75-79   65
165096      80 - 84           206  jeleniogórski  2020        Y80-84  118
165493      85 - 89           206  jeleniogórski  2020        Y_GE85  116
165890  90 i więcej           206  jeleniogórski  2020        Y_GE85  162

[420 rows x 6 columns]

In [281]:
poviats_data_Y['name_normalized'] = poviats_data_Y['powiat_nazwa'].str.replace('jeleniogórski', 'karkonoski')

/var/folders/0l/67tf_5_513l9yxyh2c98phcw0000gn/T/ipykernel_17600/2460038987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poviats_data_Y['name_normalized'] = poviats_data_Y['powiat_nazwa'].str.replace('jeleniogórski', 'karkonoski')

In [286]:
poviats_data_Y.query("name_normalized=='karkonoski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
7,Ogółem,206,jeleniogórski,2000,TOTAL,690,karkonoski
397,0 - 4,206,jeleniogórski,2000,Y_LT5,7,karkonoski
787,5 - 9,206,jeleniogórski,2000,Y5-9,3,karkonoski
1177,10 - 14,206,jeleniogórski,2000,Y10-14,1,karkonoski
1567,15 - 19,206,jeleniogórski,2000,Y15-19,5,karkonoski
...,...,...,...,...,...,...,...
172242,70 - 74,206,karkonoski,2021,Y70-74,151,karkonoski
172639,75 - 79,206,karkonoski,2021,Y75-79,71,karkonoski
173036,80 - 84,206,karkonoski,2021,Y80-84,102,karkonoski
173433,85 - 89,206,karkonoski,2021,Y_GE85,118,karkonoski
173830,90 i więcej,206,karkonoski,2021,Y_GE85,143,karkonoski

Powiat olecko-gołdapski istniejący tylko w 2000 i 2001 roku, podobnie tyski, ale nie wywalamy ich teraz, bo potem przeksztalcily sie w inne powiaty: tyski na bieruńsko-lędziński, a olecko-goldapski przeksztalcil sie na olecki i goldapski

In [287]:
poviats_data_Y.query("powiat_nazwa=='olecko-gołdapski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
326,Ogółem,2813,olecko-gołdapski,2000,TOTAL,504,olecko-gołdapski
716,0 - 4,2813,olecko-gołdapski,2000,Y_LT5,4,olecko-gołdapski
1106,5 - 9,2813,olecko-gołdapski,2000,Y5-9,0,olecko-gołdapski
1496,10 - 14,2813,olecko-gołdapski,2000,Y10-14,2,olecko-gołdapski
1886,15 - 19,2813,olecko-gołdapski,2000,Y15-19,4,olecko-gołdapski
2276,20 - 24,2813,olecko-gołdapski,2000,Y20-24,5,olecko-gołdapski
2666,25 - 29,2813,olecko-gołdapski,2000,Y25-29,7,olecko-gołdapski
3056,30 - 34,2813,olecko-gołdapski,2000,Y30-34,3,olecko-gołdapski
3446,35 - 39,2813,olecko-gołdapski,2000,Y35-39,14,olecko-gołdapski
3836,40 - 44,2813,olecko-gołdapski,2000,Y40-44,13,olecko-gołdapski
4226,45 - 49,2813,olecko-gołdapski,2000,Y45-49,28,olecko-gołdapski
4616,50 - 54,2813,olecko-gołdapski,2000,Y50-54,34,olecko-gołdapski
5006,55 - 59,2813,olecko-gołdapski,2000,Y55-59,29,olecko-gołdapski
5396,60 - 64,2813,olecko-gołdapski,2000,Y60-64,39,olecko-gołdapski
5786,65 - 69,2813,olecko-gołdapski,2000,Y65-69,66,olecko-gołdapski
6176,70 - 74,2813,olecko-gołdapski,2000,Y70-74,76,olecko-gołdapski
6566,75 - 79,2813,olecko-gołdapski,2000,Y75-79,79,olecko-gołdapski
6956,80 - 84,2813,olecko-gołdapski,2000,Y80-84,48,olecko-gołdapski
7346,85 - 89,2813,olecko-gołdapski,2000,Y_GE85,31,olecko-gołdapski
7736,90 i więcej,2813,olecko-gołdapski,2000,Y_GE85,22,olecko-gołdapski
8126,Ogółem,2813,olecko-gołdapski,2001,TOTAL,461,olecko-gołdapski
8516,0 - 4,2813,olecko-gołdapski,2001,Y_LT5,3,olecko-gołdapski
8906,5 - 9,2813,olecko-gołdapski,2001,Y5-9,1,olecko-gołdapski
9296,10 - 14,2813,olecko-gołdapski,2001,Y10-14,2,olecko-gołdapski
9686,15 - 19,2813,olecko-gołdapski,2001,Y15-19,3,olecko-gołdapski
10076,20 - 24,2813,olecko-gołdapski,2001,Y20-24,4,olecko-gołdapski
10466,25 - 29,2813,olecko-gołdapski,2001,Y25-29,7,olecko-gołdapski
10856,30 - 34,2813,olecko-gołdapski,2001,Y30-34,6,olecko-gołdapski
11246,35 - 39,2813,olecko-gołdapski,2001,Y35-39,8,olecko-gołdapski
11636,40 - 44,2813,olecko-gołdapski,2001,Y40-44,13,olecko-gołdapski
12026,45 - 49,2813,olecko-gołdapski,2001,Y45-49,29,olecko-gołdapski
12416,50 - 54,2813,olecko-gołdapski,2001,Y50-54,37,olecko-gołdapski
12806,55 - 59,2813,olecko-gołdapski,2001,Y55-59,20,olecko-gołdapski
13196,60 - 64,2813,olecko-gołdapski,2001,Y60-64,23,olecko-gołdapski
13586,65 - 69,2813,olecko-gołdapski,2001,Y65-69,58,olecko-gołdapski
13976,70 - 74,2813,olecko-gołdapski,2001,Y70-74,74,olecko-gołdapski
14366,75 - 79,2813,olecko-gołdapski,2001,Y75-79,62,olecko-gołdapski
14756,80 - 84,2813,olecko-gołdapski,2001,Y80-84,51,olecko-gołdapski
15146,85 - 89,2813,olecko-gołdapski,2001,Y_GE85,33,olecko-gołdapski
15536,90 i więcej,2813,olecko-gołdapski,2001,Y_GE85,27,olecko-gołdapski

In [288]:
poviats_data_Y.query("powiat_nazwa=='bieruńsko'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
275,Ogółem,2414,tyski,2000,TOTAL,414,tyski
665,0 - 4,2414,tyski,2000,Y_LT5,1,tyski
1055,5 - 9,2414,tyski,2000,Y5-9,0,tyski
1445,10 - 14,2414,tyski,2000,Y10-14,1,tyski
1835,15 - 19,2414,tyski,2000,Y15-19,0,tyski
2225,20 - 24,2414,tyski,2000,Y20-24,7,tyski
2615,25 - 29,2414,tyski,2000,Y25-29,1,tyski
3005,30 - 34,2414,tyski,2000,Y30-34,6,tyski
3395,35 - 39,2414,tyski,2000,Y35-39,3,tyski
3785,40 - 44,2414,tyski,2000,Y40-44,13,tyski
4175,45 - 49,2414,tyski,2000,Y45-49,17,tyski
4565,50 - 54,2414,tyski,2000,Y50-54,14,tyski
4955,55 - 59,2414,tyski,2000,Y55-59,31,tyski
5345,60 - 64,2414,tyski,2000,Y60-64,38,tyski
5735,65 - 69,2414,tyski,2000,Y65-69,53,tyski
6125,70 - 74,2414,tyski,2000,Y70-74,68,tyski
6515,75 - 79,2414,tyski,2000,Y75-79,61,tyski
6905,80 - 84,2414,tyski,2000,Y80-84,40,tyski
7295,85 - 89,2414,tyski,2000,Y_GE85,37,tyski
7685,90 i więcej,2414,tyski,2000,Y_GE85,23,tyski
8075,Ogółem,2414,tyski,2001,TOTAL,447,tyski
8465,0 - 4,2414,tyski,2001,Y_LT5,8,tyski
8855,5 - 9,2414,tyski,2001,Y5-9,0,tyski
9245,10 - 14,2414,tyski,2001,Y10-14,0,tyski
9635,15 - 19,2414,tyski,2001,Y15-19,0,tyski
10025,20 - 24,2414,tyski,2001,Y20-24,4,tyski
10415,25 - 29,2414,tyski,2001,Y25-29,3,tyski
10805,30 - 34,2414,tyski,2001,Y30-34,2,tyski
11195,35 - 39,2414,tyski,2001,Y35-39,12,tyski
11585,40 - 44,2414,tyski,2001,Y40-44,9,tyski
11975,45 - 49,2414,tyski,2001,Y45-49,21,tyski
12365,50 - 54,2414,tyski,2001,Y50-54,20,tyski
12755,55 - 59,2414,tyski,2001,Y55-59,23,tyski
13145,60 - 64,2414,tyski,2001,Y60-64,43,tyski
13535,65 - 69,2414,tyski,2001,Y65-69,52,tyski
13925,70 - 74,2414,tyski,2001,Y70-74,76,tyski
14315,75 - 79,2414,tyski,2001,Y75-79,74,tyski
14705,80 - 84,2414,tyski,2001,Y80-84,44,tyski
15095,85 - 89,2414,tyski,2001,Y_GE85,27,tyski
15485,90 i więcej,2414,tyski,2001,Y_GE85,29,tyski

In [290]:
diff = list(set(poviats_data_Y['name_normalized']) - set(population_summary_df['name_normalized']))
print(diff)

['olecko-gołdapski', 'tyski']

In [291]:
total_df = poviats_data_Y.query("wiek_eurostat == 'TOTAL'")

In [292]:
len(population_summary_df['name_normalized'].unique())

371

In [294]:
len(poviats_data_Y['name_normalized'].unique())

373

In [295]:
total_df.count()

wiek               8337
powiat_numer       8337
powiat_nazwa       8337
YEAR               8337
wiek_eurostat      8337
sum                8337
name_normalized    8337
dtype: int64

In [296]:
population_summary_df.count()

id                 8336
name               8336
year               8336
value              8336
name_normalized    8336
dtype: int64

In [301]:
population_summary_df.groupby("name_normalized").count().query("year < 21")

                 id  name  year  value
name_normalized
Warszawa         20    20    20     20
Wałbrzych        12    12    12     12
brzeziński       20    20    20     20
gołdapski        20    20    20     20
leski            20    20    20     20
sztumski         20    20    20     20
warszawski        2     2     2      2
wschowski        20    20    20     20
węgorzewski      20    20    20     20
łobeski          20    20    20     20

In [299]:
total_df.groupby("powiat_nazwa").count().query("YEAR < 21")

,wiek,powiat_numer,YEAR,wiek_eurostat,sum,name_normalized
powiat_nazwa,,,,,,
Warszawa,20,20,20,20,20,20
Wałbrzych,12,12,12,12,12,12
bieruńsko-lędziński,20,20,20,20,20,20
brzeziński,20,20,20,20,20,20
gołdapski,20,20,20,20,20,20
karkonoski,1,1,1,1,1,1
leski,20,20,20,20,20,20
olecki,20,20,20,20,20,20
olecko-gołdapski,2,2,2,2,2,2
sztumski,20,20,20,20,20,20
tyski,2,2,2,2,2,2
warszawski,3,3,3,3,3,3
wschowski,20,20,20,20,20,20
węgorzewski,20,20,20,20,20,20
łobeski,20,20,20,20,20,20

### Warszawa and warszawski

In [302]:
population_df_copy = population_summary_df.copy()

In [303]:
warszawski_mask = population_df_copy['name_normalized'].str.endswith('warszawski')
warszawski_mask

0       False
1       False
2       False
3       False
4       False
        ...
1775    False
1776    False
1777    False
1778    False
1779    False
Name: name_normalized, Length: 8336, dtype: bool

In [304]:
population_df_copy.loc[warszawski_mask, 'name_normalized'] = 'Warszawa'

In [305]:
population_df_copy.query("name_normalized == 'Warszawa' or name_normalized == 'warszawski'")

               id                    name  year    value name_normalized
856  071412831000       Powiat warszawski  2000  1672418        Warszawa
857  071412831000       Powiat warszawski  2001  1671727        Warszawa
858  071412865000  Powiat m. st. Warszawa  2002  1688194        Warszawa
859  071412865000  Powiat m. st. Warszawa  2003  1689559        Warszawa
860  071412865000  Powiat m. st. Warszawa  2004  1692854        Warszawa
861  071412865000  Powiat m. st. Warszawa  2005  1697596        Warszawa
862  071412865000  Powiat m. st. Warszawa  2006  1702139        Warszawa
863  071412865000  Powiat m. st. Warszawa  2007  1706624        Warszawa
864  071412865000  Powiat m. st. Warszawa  2008  1709781        Warszawa
865  071412865000  Powiat m. st. Warszawa  2009  1714446        Warszawa
866  071412865000  Powiat m. st. Warszawa  2010  1700112        Warszawa
867  071412865000  Powiat m. st. Warszawa  2011  1708491        Warszawa
868  071412865000  Powiat m. st. Warszawa  2012  1715517        Warszawa
869  071412865000  Powiat m. st. Warszawa  2013  1724404        Warszawa
870  071412865000  Powiat m. st. Warszawa  2014  1735442        Warszawa
871  071412865000  Powiat m. st. Warszawa  2015  1744351        Warszawa
872  071412865000  Powiat m. st. Warszawa  2016  1753977        Warszawa
873  071412865000  Powiat m. st. Warszawa  2017  1764615        Warszawa
874  071412865000  Powiat m. st. Warszawa  2018  1777972        Warszawa
875  071412865000  Powiat m. st. Warszawa  2019  1790658        Warszawa
876  071412865000  Powiat m. st. Warszawa  2020  1861774        Warszawa
877  071412865000  Powiat m. st. Warszawa  2021  1863056        Warszawa

In [306]:
total_df_copy = total_df.copy()

In [307]:
warszawski_mask = total_df_copy['name_normalized'].str.endswith('warszawski')
warszawski_mask

2         False
3         False
4         False
5         False
6         False
          ...
166672    False
166673    False
166674    False
166675    False
166676    False
Name: name_normalized, Length: 8337, dtype: bool

In [308]:
total_df_copy.loc[warszawski_mask, 'name_normalized'] = 'Warszawa'

In [309]:
total_df_copy.query("powiat_nazwa=='Warszawa' or powiat_nazwa == 'warszawski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
173,Ogółem,1431,warszawski,2000,TOTAL,17491,Warszawa
7973,Ogółem,1431,warszawski,2001,TOTAL,17208,Warszawa
15775,Ogółem,1431,warszawski,2002,TOTAL,17285,Warszawa
15787,Ogółem,1465,Warszawa,2002,TOTAL,111,Warszawa
23745,Ogółem,1465,Warszawa,2003,TOTAL,17734,Warszawa
31665,Ogółem,1465,Warszawa,2004,TOTAL,17746,Warszawa
39585,Ogółem,1465,Warszawa,2005,TOTAL,17609,Warszawa
47505,Ogółem,1465,Warszawa,2006,TOTAL,17362,Warszawa
55425,Ogółem,1465,Warszawa,2007,TOTAL,17332,Warszawa
63345,Ogółem,1465,Warszawa,2008,TOTAL,17635,Warszawa
71265,Ogółem,1465,Warszawa,2009,TOTAL,18531,Warszawa
79185,Ogółem,1465,Warszawa,2010,TOTAL,17625,Warszawa
87105,Ogółem,1465,Warszawa,2011,TOTAL,17565,Warszawa
95025,Ogółem,1465,Warszawa,2012,TOTAL,18349,Warszawa
102946,Ogółem,1465,Warszawa,2013,TOTAL,18624,Warszawa
110886,Ogółem,1465,Warszawa,2014,TOTAL,17928,Warszawa
118826,Ogółem,1465,Warszawa,2015,TOTAL,18918,Warszawa
126766,Ogółem,1465,Warszawa,2016,TOTAL,18496,Warszawa
134706,Ogółem,1465,Warszawa,2017,TOTAL,19088,Warszawa
142646,Ogółem,1465,Warszawa,2018,TOTAL,19552,Warszawa
150586,Ogółem,1465,Warszawa,2019,TOTAL,18873,Warszawa
158526,Ogółem,1465,Warszawa,2020,TOTAL,22665,Warszawa
166466,Ogółem,1465,Warszawa,2021,TOTAL,23899,Warszawa

In [310]:
total_df_copy.loc[15787]['sum'] + total_df_copy.loc[15775]['sum']

17396

In [311]:
total_df_copy.loc[15787, 'sum'] = total_df_copy.loc[15787]['sum'] + total_df_copy.loc[15775]['sum']

In [312]:
total_df_copy.query("powiat_nazwa=='Warszawa' or powiat_nazwa == 'warszawski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
173,Ogółem,1431,warszawski,2000,TOTAL,17491,Warszawa
7973,Ogółem,1431,warszawski,2001,TOTAL,17208,Warszawa
15775,Ogółem,1431,warszawski,2002,TOTAL,17285,Warszawa
15787,Ogółem,1465,Warszawa,2002,TOTAL,17396,Warszawa
23745,Ogółem,1465,Warszawa,2003,TOTAL,17734,Warszawa
31665,Ogółem,1465,Warszawa,2004,TOTAL,17746,Warszawa
39585,Ogółem,1465,Warszawa,2005,TOTAL,17609,Warszawa
47505,Ogółem,1465,Warszawa,2006,TOTAL,17362,Warszawa
55425,Ogółem,1465,Warszawa,2007,TOTAL,17332,Warszawa
63345,Ogółem,1465,Warszawa,2008,TOTAL,17635,Warszawa
71265,Ogółem,1465,Warszawa,2009,TOTAL,18531,Warszawa
79185,Ogółem,1465,Warszawa,2010,TOTAL,17625,Warszawa
87105,Ogółem,1465,Warszawa,2011,TOTAL,17565,Warszawa
95025,Ogółem,1465,Warszawa,2012,TOTAL,18349,Warszawa
102946,Ogółem,1465,Warszawa,2013,TOTAL,18624,Warszawa
110886,Ogółem,1465,Warszawa,2014,TOTAL,17928,Warszawa
118826,Ogółem,1465,Warszawa,2015,TOTAL,18918,Warszawa
126766,Ogółem,1465,Warszawa,2016,TOTAL,18496,Warszawa
134706,Ogółem,1465,Warszawa,2017,TOTAL,19088,Warszawa
142646,Ogółem,1465,Warszawa,2018,TOTAL,19552,Warszawa
150586,Ogółem,1465,Warszawa,2019,TOTAL,18873,Warszawa
158526,Ogółem,1465,Warszawa,2020,TOTAL,22665,Warszawa
166466,Ogółem,1465,Warszawa,2021,TOTAL,23899,Warszawa

In [314]:
total_df_copy = total_df_copy.query("powiat_nazwa != 'warszawski' or YEAR != 2002")

In [315]:
total_df_copy.query("powiat_nazwa=='Warszawa' or powiat_nazwa == 'warszawski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
173,Ogółem,1431,warszawski,2000,TOTAL,17491,Warszawa
7973,Ogółem,1431,warszawski,2001,TOTAL,17208,Warszawa
15787,Ogółem,1465,Warszawa,2002,TOTAL,17396,Warszawa
23745,Ogółem,1465,Warszawa,2003,TOTAL,17734,Warszawa
31665,Ogółem,1465,Warszawa,2004,TOTAL,17746,Warszawa
39585,Ogółem,1465,Warszawa,2005,TOTAL,17609,Warszawa
47505,Ogółem,1465,Warszawa,2006,TOTAL,17362,Warszawa
55425,Ogółem,1465,Warszawa,2007,TOTAL,17332,Warszawa
63345,Ogółem,1465,Warszawa,2008,TOTAL,17635,Warszawa
71265,Ogółem,1465,Warszawa,2009,TOTAL,18531,Warszawa
79185,Ogółem,1465,Warszawa,2010,TOTAL,17625,Warszawa
87105,Ogółem,1465,Warszawa,2011,TOTAL,17565,Warszawa
95025,Ogółem,1465,Warszawa,2012,TOTAL,18349,Warszawa
102946,Ogółem,1465,Warszawa,2013,TOTAL,18624,Warszawa
110886,Ogółem,1465,Warszawa,2014,TOTAL,17928,Warszawa
118826,Ogółem,1465,Warszawa,2015,TOTAL,18918,Warszawa
126766,Ogółem,1465,Warszawa,2016,TOTAL,18496,Warszawa
134706,Ogółem,1465,Warszawa,2017,TOTAL,19088,Warszawa
142646,Ogółem,1465,Warszawa,2018,TOTAL,19552,Warszawa
150586,Ogółem,1465,Warszawa,2019,TOTAL,18873,Warszawa
158526,Ogółem,1465,Warszawa,2020,TOTAL,22665,Warszawa
166466,Ogółem,1465,Warszawa,2021,TOTAL,23899,Warszawa

In [316]:
population_df_copy.groupby("name_normalized").count().query("year < 21")

                 id  name  year  value
name_normalized
Wałbrzych        12    12    12     12
brzeziński       20    20    20     20
gołdapski        20    20    20     20
leski            20    20    20     20
sztumski         20    20    20     20
wschowski        20    20    20     20
węgorzewski      20    20    20     20
łobeski          20    20    20     20

In [318]:
total_df_copy.groupby("name_normalized").count().query("YEAR < 21")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum
name_normalized,,,,,,
Wałbrzych,12,12,12,12,12,12
bieruńsko-lędziński,20,20,20,20,20,20
brzeziński,20,20,20,20,20,20
gołdapski,20,20,20,20,20,20
leski,20,20,20,20,20,20
olecki,20,20,20,20,20,20
olecko-gołdapski,2,2,2,2,2,2
sztumski,20,20,20,20,20,20
tyski,2,2,2,2,2,2
wschowski,20,20,20,20,20,20
węgorzewski,20,20,20,20,20,20
łobeski,20,20,20,20,20,20

### Wałbrzych - zostawiamy, join bedzie poprawny, TODO: opisac to potem jakie lata są dostępne

In [319]:
population_df_copy.query("name_normalized == 'Wałbrzych'")

                id                         name  year   value name_normalized
1054  030210363000  Powiat m. Wałbrzych do 2002  2000  131675       Wałbrzych
1055  030210363000  Powiat m. Wałbrzych do 2002  2001  130668       Wałbrzych
1056  030210363000  Powiat m. Wałbrzych do 2002  2002  129724       Wałbrzych
1057  030210365000  Powiat m. Wałbrzych od 2013  2013  117926       Wałbrzych
1058  030210365000  Powiat m. Wałbrzych od 2013  2014  116691       Wałbrzych
1059  030210365000  Powiat m. Wałbrzych od 2013  2015  115453       Wałbrzych
1060  030210365000  Powiat m. Wałbrzych od 2013  2016  114568       Wałbrzych
1061  030210365000  Powiat m. Wałbrzych od 2013  2017  113621       Wałbrzych
1062  030210365000  Powiat m. Wałbrzych od 2013  2018  112594       Wałbrzych
1063  030210365000  Powiat m. Wałbrzych od 2013  2019  111356       Wałbrzych
1064  030210365000  Powiat m. Wałbrzych od 2013  2020  105007       Wałbrzych
1065  030210365000  Powiat m. Wałbrzych od 2013  2021  103263       Wałbrzych

In [320]:
total_df_copy.query("name_normalized == 'Wałbrzych'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
30,Ogółem,263,Wałbrzych,2000,TOTAL,1511,Wałbrzych
7830,Ogółem,263,Wałbrzych,2001,TOTAL,1412,Wałbrzych
15630,Ogółem,263,Wałbrzych,2002,TOTAL,1494,Wałbrzych
102791,Ogółem,265,Wałbrzych,2013,TOTAL,1596,Wałbrzych
110731,Ogółem,265,Wałbrzych,2014,TOTAL,1567,Wałbrzych
118671,Ogółem,265,Wałbrzych,2015,TOTAL,1639,Wałbrzych
126611,Ogółem,265,Wałbrzych,2016,TOTAL,1606,Wałbrzych
134551,Ogółem,265,Wałbrzych,2017,TOTAL,1599,Wałbrzych
142491,Ogółem,265,Wałbrzych,2018,TOTAL,1600,Wałbrzych
150431,Ogółem,265,Wałbrzych,2019,TOTAL,1671,Wałbrzych
158371,Ogółem,265,Wałbrzych,2020,TOTAL,1923,Wałbrzych
166311,Ogółem,265,Wałbrzych,2021,TOTAL,2019,Wałbrzych

### Brzezinski - taka sama sytuacja jak Wałbrzych

In [322]:
population_df_copy.query("name_normalized == 'brzeziński'")

               id               name  year  value name_normalized
830  051011521000  Powiat brzeziński  2002  30787      brzeziński
831  051011521000  Powiat brzeziński  2003  30688      brzeziński
832  051011521000  Powiat brzeziński  2004  30682      brzeziński
833  051011521000  Powiat brzeziński  2005  30601      brzeziński
834  051011521000  Powiat brzeziński  2006  30614      brzeziński
835  051011521000  Powiat brzeziński  2007  30585      brzeziński
836  051011521000  Powiat brzeziński  2008  30652      brzeziński
837  051011521000  Powiat brzeziński  2009  30537      brzeziński
838  051011521000  Powiat brzeziński  2010  30964      brzeziński
839  051011521000  Powiat brzeziński  2011  30940      brzeziński
840  051011521000  Powiat brzeziński  2012  30956      brzeziński
841  051011521000  Powiat brzeziński  2013  30923      brzeziński
842  051011521000  Powiat brzeziński  2014  30945      brzeziński
843  051011521000  Powiat brzeziński  2015  30933      brzeziński
844  051011521000  Powiat brzeziński  2016  30912      brzeziński
845  051011521000  Powiat brzeziński  2017  30884      brzeziński
846  051011521000  Powiat brzeziński  2018  30890      brzeziński
847  051011521000  Powiat brzeziński  2019  30833      brzeziński
848  051011521000  Powiat brzeziński  2020  30457      brzeziński
849  051011521000  Powiat brzeziński  2021  30374      brzeziński

In [323]:
total_df_copy.query("name_normalized == 'brzeziński'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15717,Ogółem,1021,brzeziński,2002,TOTAL,356,brzeziński
23676,Ogółem,1021,brzeziński,2003,TOTAL,423,brzeziński
31596,Ogółem,1021,brzeziński,2004,TOTAL,364,brzeziński
39516,Ogółem,1021,brzeziński,2005,TOTAL,365,brzeziński
47436,Ogółem,1021,brzeziński,2006,TOTAL,369,brzeziński
55356,Ogółem,1021,brzeziński,2007,TOTAL,407,brzeziński
63276,Ogółem,1021,brzeziński,2008,TOTAL,358,brzeziński
71196,Ogółem,1021,brzeziński,2009,TOTAL,396,brzeziński
79116,Ogółem,1021,brzeziński,2010,TOTAL,350,brzeziński
87036,Ogółem,1021,brzeziński,2011,TOTAL,338,brzeziński
94956,Ogółem,1021,brzeziński,2012,TOTAL,356,brzeziński
102877,Ogółem,1021,brzeziński,2013,TOTAL,383,brzeziński
110817,Ogółem,1021,brzeziński,2014,TOTAL,370,brzeziński
118757,Ogółem,1021,brzeziński,2015,TOTAL,378,brzeziński
126697,Ogółem,1021,brzeziński,2016,TOTAL,366,brzeziński
134637,Ogółem,1021,brzeziński,2017,TOTAL,379,brzeziński
142577,Ogółem,1021,brzeziński,2018,TOTAL,380,brzeziński
150517,Ogółem,1021,brzeziński,2019,TOTAL,387,brzeziński
158457,Ogółem,1021,brzeziński,2020,TOTAL,474,brzeziński
166397,Ogółem,1021,brzeziński,2021,TOTAL,423,brzeziński

### Sztumski

In [324]:
total_df_copy.query("name_normalized == 'sztumski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15861,Ogółem,2216,sztumski,2002,TOTAL,339,sztumski
23819,Ogółem,2216,sztumski,2003,TOTAL,338,sztumski
31739,Ogółem,2216,sztumski,2004,TOTAL,329,sztumski
39659,Ogółem,2216,sztumski,2005,TOTAL,355,sztumski
47579,Ogółem,2216,sztumski,2006,TOTAL,392,sztumski
55499,Ogółem,2216,sztumski,2007,TOTAL,382,sztumski
63419,Ogółem,2216,sztumski,2008,TOTAL,338,sztumski
71339,Ogółem,2216,sztumski,2009,TOTAL,364,sztumski
79259,Ogółem,2216,sztumski,2010,TOTAL,378,sztumski
87179,Ogółem,2216,sztumski,2011,TOTAL,345,sztumski
95099,Ogółem,2216,sztumski,2012,TOTAL,390,sztumski
103020,Ogółem,2216,sztumski,2013,TOTAL,359,sztumski
110960,Ogółem,2216,sztumski,2014,TOTAL,341,sztumski
118900,Ogółem,2216,sztumski,2015,TOTAL,369,sztumski
126840,Ogółem,2216,sztumski,2016,TOTAL,362,sztumski
134780,Ogółem,2216,sztumski,2017,TOTAL,405,sztumski
142720,Ogółem,2216,sztumski,2018,TOTAL,400,sztumski
150660,Ogółem,2216,sztumski,2019,TOTAL,319,sztumski
158600,Ogółem,2216,sztumski,2020,TOTAL,467,sztumski
166540,Ogółem,2216,sztumski,2021,TOTAL,487,sztumski

In [325]:
population_df_copy.query("name_normalized == 'sztumski'")

               id             name  year  value name_normalized
154  042214216000  Powiat sztumski  2002  42043        sztumski
155  042214216000  Powiat sztumski  2003  41964        sztumski
156  042214216000  Powiat sztumski  2004  41974        sztumski
157  042214216000  Powiat sztumski  2005  41886        sztumski
158  042214216000  Powiat sztumski  2006  41823        sztumski
159  042214216000  Powiat sztumski  2007  41763        sztumski
160  042214216000  Powiat sztumski  2008  41708        sztumski
161  042214216000  Powiat sztumski  2009  41694        sztumski
162  042214216000  Powiat sztumski  2010  42801        sztumski
163  042214216000  Powiat sztumski  2011  42739        sztumski
164  042214216000  Powiat sztumski  2012  42658        sztumski
165  042214216000  Powiat sztumski  2013  42511        sztumski
166  042214216000  Powiat sztumski  2014  42482        sztumski
167  042214216000  Powiat sztumski  2015  42377        sztumski
168  042214216000  Powiat sztumski  2016  42250        sztumski
169  042214216000  Powiat sztumski  2017  41946        sztumski
170  042214216000  Powiat sztumski  2018  41569        sztumski
171  042214216000  Powiat sztumski  2019  41302        sztumski
172  042214216000  Powiat sztumski  2020  39586        sztumski
173  042214216000  Powiat sztumski  2021  39124        sztumski

### Wschowski, węgorzewski, łobeski

In [327]:
total_df_copy.query("name_normalized == 'wschowski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15693,Ogółem,812,wschowski,2002,TOTAL,315,wschowski
23652,Ogółem,812,wschowski,2003,TOTAL,333,wschowski
31572,Ogółem,812,wschowski,2004,TOTAL,318,wschowski
39492,Ogółem,812,wschowski,2005,TOTAL,333,wschowski
47412,Ogółem,812,wschowski,2006,TOTAL,354,wschowski
55332,Ogółem,812,wschowski,2007,TOTAL,388,wschowski
63252,Ogółem,812,wschowski,2008,TOTAL,333,wschowski
71172,Ogółem,812,wschowski,2009,TOTAL,391,wschowski
79092,Ogółem,812,wschowski,2010,TOTAL,336,wschowski
87012,Ogółem,812,wschowski,2011,TOTAL,387,wschowski
94932,Ogółem,812,wschowski,2012,TOTAL,315,wschowski
102853,Ogółem,812,wschowski,2013,TOTAL,359,wschowski
110793,Ogółem,812,wschowski,2014,TOTAL,349,wschowski
118733,Ogółem,812,wschowski,2015,TOTAL,419,wschowski
126673,Ogółem,812,wschowski,2016,TOTAL,349,wschowski
134613,Ogółem,812,wschowski,2017,TOTAL,362,wschowski
142553,Ogółem,812,wschowski,2018,TOTAL,403,wschowski
150493,Ogółem,812,wschowski,2019,TOTAL,414,wschowski
158433,Ogółem,812,wschowski,2020,TOTAL,432,wschowski
166373,Ogółem,812,wschowski,2021,TOTAL,468,wschowski

In [330]:
population_df_copy.query("name_normalized == 'wschowski'")

                id              name  year  value name_normalized
1540  020811412000  Powiat wschowski  2002  38761       wschowski
1541  020811412000  Powiat wschowski  2003  38768       wschowski
1542  020811412000  Powiat wschowski  2004  38939       wschowski
1543  020811412000  Powiat wschowski  2005  38978       wschowski
1544  020811412000  Powiat wschowski  2006  38866       wschowski
1545  020811412000  Powiat wschowski  2007  38906       wschowski
1546  020811412000  Powiat wschowski  2008  39055       wschowski
1547  020811412000  Powiat wschowski  2009  39055       wschowski
1548  020811412000  Powiat wschowski  2010  39397       wschowski
1549  020811412000  Powiat wschowski  2011  39349       wschowski
1550  020811412000  Powiat wschowski  2012  39434       wschowski
1551  020811412000  Powiat wschowski  2013  39434       wschowski
1552  020811412000  Powiat wschowski  2014  39365       wschowski
1553  020811412000  Powiat wschowski  2015  39297       wschowski
1554  020811412000  Powiat wschowski  2016  39256       wschowski
1555  020811412000  Powiat wschowski  2017  39196       wschowski
1556  020811412000  Powiat wschowski  2018  39065       wschowski
1557  020811412000  Powiat wschowski  2019  38831       wschowski
1558  020811412000  Powiat wschowski  2020  37967       wschowski
1559  020811412000  Powiat wschowski  2021  37683       wschowski

In [328]:
total_df_copy.query("name_normalized == 'węgorzewski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15937,Ogółem,2819,węgorzewski,2002,TOTAL,252,węgorzewski
23895,Ogółem,2819,węgorzewski,2003,TOTAL,218,węgorzewski
31815,Ogółem,2819,węgorzewski,2004,TOTAL,242,węgorzewski
39735,Ogółem,2819,węgorzewski,2005,TOTAL,217,węgorzewski
47655,Ogółem,2819,węgorzewski,2006,TOTAL,269,węgorzewski
55575,Ogółem,2819,węgorzewski,2007,TOTAL,237,węgorzewski
63495,Ogółem,2819,węgorzewski,2008,TOTAL,255,węgorzewski
71415,Ogółem,2819,węgorzewski,2009,TOTAL,257,węgorzewski
79335,Ogółem,2819,węgorzewski,2010,TOTAL,235,węgorzewski
87255,Ogółem,2819,węgorzewski,2011,TOTAL,248,węgorzewski
95175,Ogółem,2819,węgorzewski,2012,TOTAL,272,węgorzewski
103096,Ogółem,2819,węgorzewski,2013,TOTAL,212,węgorzewski
111036,Ogółem,2819,węgorzewski,2014,TOTAL,229,węgorzewski
118976,Ogółem,2819,węgorzewski,2015,TOTAL,281,węgorzewski
126916,Ogółem,2819,węgorzewski,2016,TOTAL,265,węgorzewski
134856,Ogółem,2819,węgorzewski,2017,TOTAL,261,węgorzewski
142796,Ogółem,2819,węgorzewski,2018,TOTAL,289,węgorzewski
150736,Ogółem,2819,węgorzewski,2019,TOTAL,292,węgorzewski
158676,Ogółem,2819,węgorzewski,2020,TOTAL,323,węgorzewski
166616,Ogółem,2819,węgorzewski,2021,TOTAL,330,węgorzewski

In [331]:
population_df_copy.query("name_normalized == 'węgorzewski'")

               id                name  year  value name_normalized
568  042815519000  Powiat węgorzewski  2002  23928     węgorzewski
569  042815519000  Powiat węgorzewski  2003  23947     węgorzewski
570  042815519000  Powiat węgorzewski  2004  23798     węgorzewski
571  042815519000  Powiat węgorzewski  2005  23734     węgorzewski
572  042815519000  Powiat węgorzewski  2006  23471     węgorzewski
573  042815519000  Powiat węgorzewski  2007  23551     węgorzewski
574  042815519000  Powiat węgorzewski  2008  23395     węgorzewski
575  042815519000  Powiat węgorzewski  2009  23327     węgorzewski
576  042815519000  Powiat węgorzewski  2010  23853     węgorzewski
577  042815519000  Powiat węgorzewski  2011  23736     węgorzewski
578  042815519000  Powiat węgorzewski  2012  23765     węgorzewski
579  042815519000  Powiat węgorzewski  2013  23693     węgorzewski
580  042815519000  Powiat węgorzewski  2014  23604     węgorzewski
581  042815519000  Powiat węgorzewski  2015  23451     węgorzewski
582  042815519000  Powiat węgorzewski  2016  23278     węgorzewski
583  042815519000  Powiat węgorzewski  2017  23068     węgorzewski
584  042815519000  Powiat węgorzewski  2018  22873     węgorzewski
585  042815519000  Powiat węgorzewski  2019  22638     węgorzewski
586  042815519000  Powiat węgorzewski  2020  21473     węgorzewski
587  042815519000  Powiat węgorzewski  2021  21260     węgorzewski

In [329]:
total_df_copy.query("name_normalized == 'łobeski'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15994,Ogółem,3218,łobeski,2002,TOTAL,362,łobeski
23952,Ogółem,3218,łobeski,2003,TOTAL,386,łobeski
31872,Ogółem,3218,łobeski,2004,TOTAL,418,łobeski
39792,Ogółem,3218,łobeski,2005,TOTAL,388,łobeski
47712,Ogółem,3218,łobeski,2006,TOTAL,392,łobeski
55632,Ogółem,3218,łobeski,2007,TOTAL,373,łobeski
63552,Ogółem,3218,łobeski,2008,TOTAL,385,łobeski
71472,Ogółem,3218,łobeski,2009,TOTAL,417,łobeski
79392,Ogółem,3218,łobeski,2010,TOTAL,410,łobeski
87312,Ogółem,3218,łobeski,2011,TOTAL,404,łobeski
95232,Ogółem,3218,łobeski,2012,TOTAL,408,łobeski
103153,Ogółem,3218,łobeski,2013,TOTAL,430,łobeski
111093,Ogółem,3218,łobeski,2014,TOTAL,390,łobeski
119033,Ogółem,3218,łobeski,2015,TOTAL,428,łobeski
126973,Ogółem,3218,łobeski,2016,TOTAL,363,łobeski
134913,Ogółem,3218,łobeski,2017,TOTAL,394,łobeski
142853,Ogółem,3218,łobeski,2018,TOTAL,454,łobeski
150793,Ogółem,3218,łobeski,2019,TOTAL,400,łobeski
158733,Ogółem,3218,łobeski,2020,TOTAL,525,łobeski
166673,Ogółem,3218,łobeski,2021,TOTAL,541,łobeski

In [332]:
population_df_copy.query("name_normalized == 'łobeski'")

               id            name  year  value name_normalized
418  023216418000  Powiat łobeski  2002  38600         łobeski
419  023216418000  Powiat łobeski  2003  38593         łobeski
420  023216418000  Powiat łobeski  2004  38411         łobeski
421  023216418000  Powiat łobeski  2005  38330         łobeski
422  023216418000  Powiat łobeski  2006  38233         łobeski
423  023216418000  Powiat łobeski  2007  38206         łobeski
424  023216418000  Powiat łobeski  2008  38162         łobeski
425  023216418000  Powiat łobeski  2009  38063         łobeski
426  023216418000  Powiat łobeski  2010  38570         łobeski
427  023216418000  Powiat łobeski  2011  38408         łobeski
428  023216418000  Powiat łobeski  2012  38211         łobeski
429  023216418000  Powiat łobeski  2013  37966         łobeski
430  023216418000  Powiat łobeski  2014  37804         łobeski
431  023216418000  Powiat łobeski  2015  37691         łobeski
432  023216418000  Powiat łobeski  2016  37638         łobeski
433  023216418000  Powiat łobeski  2017  37401         łobeski
434  023216418000  Powiat łobeski  2018  37104         łobeski
435  023216418000  Powiat łobeski  2019  36696         łobeski
436  023216418000  Powiat łobeski  2020  34575         łobeski
437  023216418000  Powiat łobeski  2021  34094         łobeski

In [335]:
total_df_copy.query("name_normalized == 'olecki'")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,sum,name_normalized
15931,Ogółem,2813,olecki,2002,TOTAL,290,olecki
23889,Ogółem,2813,olecki,2003,TOTAL,300,olecki
31809,Ogółem,2813,olecki,2004,TOTAL,323,olecki
39729,Ogółem,2813,olecki,2005,TOTAL,316,olecki
47649,Ogółem,2813,olecki,2006,TOTAL,314,olecki
55569,Ogółem,2813,olecki,2007,TOTAL,334,olecki
63489,Ogółem,2813,olecki,2008,TOTAL,314,olecki
71409,Ogółem,2813,olecki,2009,TOTAL,303,olecki
79329,Ogółem,2813,olecki,2010,TOTAL,323,olecki
87249,Ogółem,2813,olecki,2011,TOTAL,319,olecki
95169,Ogółem,2813,olecki,2012,TOTAL,337,olecki
103090,Ogółem,2813,olecki,2013,TOTAL,331,olecki
111030,Ogółem,2813,olecki,2014,TOTAL,327,olecki
118970,Ogółem,2813,olecki,2015,TOTAL,341,olecki
126910,Ogółem,2813,olecki,2016,TOTAL,354,olecki
134850,Ogółem,2813,olecki,2017,TOTAL,331,olecki
142790,Ogółem,2813,olecki,2018,TOTAL,352,olecki
150730,Ogółem,2813,olecki,2019,TOTAL,413,olecki
158670,Ogółem,2813,olecki,2020,TOTAL,432,olecki
166610,Ogółem,2813,olecki,2021,TOTAL,460,olecki

### Powiat numer do danych populacyjnych 

id[2:3]id[7:8], a w zasadzie id[2:4]id[7:9], bo drugi indeks nie wchodzi do przedzialu

In [401]:
population_df_copy['powiat_numer'] = population_df_copy['id'].str[2:4] + population_df_copy['id'].str[7:9]

In [403]:
population_df_copy.query("name_normalized == 'świdnicki'")

,id,name,year,population,name_normalized,powiat_numer
988,030210319000,Powiat świdnicki,2000,162536,świdnicki,0219
989,030210319000,Powiat świdnicki,2001,162219,świdnicki,0219
990,030210319000,Powiat świdnicki,2002,161763,świdnicki,0219
991,030210319000,Powiat świdnicki,2003,161333,świdnicki,0219
992,030210319000,Powiat świdnicki,2004,160856,świdnicki,0219
993,030210319000,Powiat świdnicki,2005,160675,świdnicki,0219
994,030210319000,Powiat świdnicki,2006,160230,świdnicki,0219
995,030210319000,Powiat świdnicki,2007,159723,świdnicki,0219
996,030210319000,Powiat świdnicki,2008,159396,świdnicki,0219
997,030210319000,Powiat świdnicki,2009,159323,świdnicki,0219
998,030210319000,Powiat świdnicki,2010,162386,świdnicki,0219
999,030210319000,Powiat świdnicki,2011,162145,świdnicki,0219
1000,030210319000,Powiat świdnicki,2012,161737,świdnicki,0219
1001,030210319000,Powiat świdnicki,2013,160932,świdnicki,0219
1002,030210319000,Powiat świdnicki,2014,160438,świdnicki,0219
1003,030210319000,Powiat świdnicki,2015,159633,świdnicki,0219
1004,030210319000,Powiat świdnicki,2016,158939,świdnicki,0219
1005,030210319000,Powiat świdnicki,2017,158392,świdnicki,0219
1006,030210319000,Powiat świdnicki,2018,157615,świdnicki,0219
1007,030210319000,Powiat świdnicki,2019,156921,świdnicki,0219
1008,030210319000,Powiat świdnicki,2020,153694,świdnicki,0219
1009,030210319000,Powiat świdnicki,2021,152443,świdnicki,0219
1950,060611117000,Powiat świdnicki,2000,72533,świdnicki,0617
1951,060611117000,Powiat świdnicki,2001,72428,świdnicki,0617
1952,060611117000,Powiat świdnicki,2002,72466,świdnicki,0617
1953,060611117000,Powiat świdnicki,2003,72568,świdnicki,0617
1954,060611117000,Powiat świdnicki,2004,72301,świdnicki,0617
1955,060611117000,Powiat świdnicki,2005,72206,świdnicki,0617
1956,060611117000,Powiat świdnicki,2006,72354,świdnicki,0617
1957,060611117000,Powiat świdnicki,2007,72472,świdnicki,0617
1958,060611117000,Powiat świdnicki,2008,72446,świdnicki,0617
1959,060611117000,Powiat świdnicki,2009,72366,świdnicki,0617
1960,060611117000,Powiat świdnicki,2010,73428,świdnicki,0617
1961,060611117000,Powiat świdnicki,2011,73326,świdnicki,0617
1962,060611117000,Powiat świdnicki,2012,73047,świdnicki,0617
1963,060611117000,Powiat świdnicki,2013,72960,świdnicki,0617
1964,060611117000,Powiat świdnicki,2014,72750,świdnicki,0617
1965,060611117000,Powiat świdnicki,2015,72642,świdnicki,0617
1966,060611117000,Powiat świdnicki,2016,72495,świdnicki,0617
1967,060611117000,Powiat świdnicki,2017,72412,świdnicki,0617
1968,060611117000,Powiat świdnicki,2018,72039,świdnicki,0617
1969,060611117000,Powiat świdnicki,2019,71840,świdnicki,0617
1970,060611117000,Powiat świdnicki,2020,70777,świdnicki,0617
1971,060611117000,Powiat świdnicki,2021,70125,świdnicki,0617

In [442]:
# total_df_copy['powiat_numer2'] = total_df_copy['powiat_numer'].where(total_df_copy['powiat_numer'].str.len() != 4, "".join(["0"] + total_df_copy['powiat_numer'].astype(str)))

total_df_copy['powiat_numer'] = total_df_copy['powiat_numer'].astype('int').astype('str')

In [440]:
total_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8336 entries, 2 to 166676
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   wiek             8336 non-null   object
 1   powiat_numer     8336 non-null   object
 2   powiat_nazwa     8336 non-null   object
 3   year             8336 non-null   string
 4   wiek_eurostat    8336 non-null   object
 5   deaths           8336 non-null   int64
 6   name_normalized  8336 non-null   object
 7   powiat_numer2    8336 non-null   object
dtypes: int64(1), object(6), string(1)
memory usage: 844.2+ KB

In [441]:
total_df_copy.drop('powiat_numer2', axis=1, inplace=True)

In [ ]:
total_df_copy.query("name_normalized == 'świdnicki'")

In [444]:
population_df_copy['powiat_numer'] = population_df_copy['powiat_numer'].astype('int').astype('str')

In [446]:
population_df_copy.query("name_normalized == 'świdnicki'")

,id,name,year,population,name_normalized,powiat_numer
988,030210319000,Powiat świdnicki,2000,162536,świdnicki,219
989,030210319000,Powiat świdnicki,2001,162219,świdnicki,219
990,030210319000,Powiat świdnicki,2002,161763,świdnicki,219
991,030210319000,Powiat świdnicki,2003,161333,świdnicki,219
992,030210319000,Powiat świdnicki,2004,160856,świdnicki,219
993,030210319000,Powiat świdnicki,2005,160675,świdnicki,219
994,030210319000,Powiat świdnicki,2006,160230,świdnicki,219
995,030210319000,Powiat świdnicki,2007,159723,świdnicki,219
996,030210319000,Powiat świdnicki,2008,159396,świdnicki,219
997,030210319000,Powiat świdnicki,2009,159323,świdnicki,219
998,030210319000,Powiat świdnicki,2010,162386,świdnicki,219
999,030210319000,Powiat świdnicki,2011,162145,świdnicki,219
1000,030210319000,Powiat świdnicki,2012,161737,świdnicki,219
1001,030210319000,Powiat świdnicki,2013,160932,świdnicki,219
1002,030210319000,Powiat świdnicki,2014,160438,świdnicki,219
1003,030210319000,Powiat świdnicki,2015,159633,świdnicki,219
1004,030210319000,Powiat świdnicki,2016,158939,świdnicki,219
1005,030210319000,Powiat świdnicki,2017,158392,świdnicki,219
1006,030210319000,Powiat świdnicki,2018,157615,świdnicki,219
1007,030210319000,Powiat świdnicki,2019,156921,świdnicki,219
1008,030210319000,Powiat świdnicki,2020,153694,świdnicki,219
1009,030210319000,Powiat świdnicki,2021,152443,świdnicki,219
1950,060611117000,Powiat świdnicki,2000,72533,świdnicki,617
1951,060611117000,Powiat świdnicki,2001,72428,świdnicki,617
1952,060611117000,Powiat świdnicki,2002,72466,świdnicki,617
1953,060611117000,Powiat świdnicki,2003,72568,świdnicki,617
1954,060611117000,Powiat świdnicki,2004,72301,świdnicki,617
1955,060611117000,Powiat świdnicki,2005,72206,świdnicki,617
1956,060611117000,Powiat świdnicki,2006,72354,świdnicki,617
1957,060611117000,Powiat świdnicki,2007,72472,świdnicki,617
1958,060611117000,Powiat świdnicki,2008,72446,świdnicki,617
1959,060611117000,Powiat świdnicki,2009,72366,świdnicki,617
1960,060611117000,Powiat świdnicki,2010,73428,świdnicki,617
1961,060611117000,Powiat świdnicki,2011,73326,świdnicki,617
1962,060611117000,Powiat świdnicki,2012,73047,świdnicki,617
1963,060611117000,Powiat świdnicki,2013,72960,świdnicki,617
1964,060611117000,Powiat świdnicki,2014,72750,świdnicki,617
1965,060611117000,Powiat świdnicki,2015,72642,świdnicki,617
1966,060611117000,Powiat świdnicki,2016,72495,świdnicki,617
1967,060611117000,Powiat świdnicki,2017,72412,świdnicki,617
1968,060611117000,Powiat świdnicki,2018,72039,świdnicki,617
1969,060611117000,Powiat świdnicki,2019,71840,świdnicki,617
1970,060611117000,Powiat świdnicki,2020,70777,świdnicki,617
1971,060611117000,Powiat świdnicki,2021,70125,świdnicki,617

### Pierwszy join

In [407]:
len(total_df_copy)

8336

In [408]:
len(population_df_copy)

8336

In [415]:
total_df_copy

,wiek,powiat_numer,powiat_nazwa,year,wiek_eurostat,deaths,name_normalized
2,Ogółem,201,bolesławiecki,2000,TOTAL,755,bolesławiecki
3,Ogółem,202,dzierżoniowski,2000,TOTAL,1163,dzierżoniowski
4,Ogółem,203,głogowski,2000,TOTAL,644,głogowski
5,Ogółem,204,górowski,2000,TOTAL,344,górowski
6,Ogółem,205,jaworski,2000,TOTAL,458,jaworski
...,...,...,...,...,...,...,...
166672,Ogółem,3217,wałecki,2021,TOTAL,728,wałecki
166673,Ogółem,3218,łobeski,2021,TOTAL,541,łobeski
166674,Ogółem,3261,Koszalin,2021,TOTAL,1484,Koszalin
166675,Ogółem,3262,Szczecin,2021,TOTAL,6090,Szczecin
166676,Ogółem,3263,Świnoujście,2021,TOTAL,661,Świnoujście

In [409]:
total_df_copy = total_df_copy.rename(columns={'YEAR' : 'year'})

In [410]:
total_df_copy = total_df_copy.rename(columns={'sum':'deaths'})

In [411]:
population_df_copy = population_df_copy.rename(columns={'value':'population'})

In [412]:
total_df_copy['year'] = total_df_copy['year'].astype('string')
population_df_copy['year'] = population_df_copy['year'].astype('string')

In [447]:
merged_df = pd.merge(population_df_copy, total_df_copy, on=['year', 'powiat_numer'], how='inner')

In [450]:
merged_df = merged_df.rename(columns={'name_normalized_x':'name_normalized_pop', 'name_normalized_y':'name_normalized_tot'})

In [451]:
merged_df.groupby('name_normalized_pop').count().query("year < 21")

,id,name,year,population,powiat_numer,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot
name_normalized_pop,,,,,,,,,,
Wałbrzych,12,12,12,12,12,12,12,12,12,12
brzeziński,20,20,20,20,20,20,20,20,20,20
gołdapski,20,20,20,20,20,20,20,20,20,20
leski,20,20,20,20,20,20,20,20,20,20
sztumski,20,20,20,20,20,20,20,20,20,20
wschowski,20,20,20,20,20,20,20,20,20,20
węgorzewski,20,20,20,20,20,20,20,20,20,20
łobeski,20,20,20,20,20,20,20,20,20,20

In [453]:
merged_df.query("name_normalized_pop == 'świdnicki'")

,id,name,year,population,name_normalized_pop,powiat_numer,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot
3186,030210319000,Powiat świdnicki,2000,162536,świdnicki,219,Ogółem,świdnicki,TOTAL,1609,świdnicki
3187,030210319000,Powiat świdnicki,2001,162219,świdnicki,219,Ogółem,świdnicki,TOTAL,1532,świdnicki
3188,030210319000,Powiat świdnicki,2002,161763,świdnicki,219,Ogółem,świdnicki,TOTAL,1548,świdnicki
3189,030210319000,Powiat świdnicki,2003,161333,świdnicki,219,Ogółem,świdnicki,TOTAL,1570,świdnicki
3190,030210319000,Powiat świdnicki,2004,160856,świdnicki,219,Ogółem,świdnicki,TOTAL,1627,świdnicki
3191,030210319000,Powiat świdnicki,2005,160675,świdnicki,219,Ogółem,świdnicki,TOTAL,1561,świdnicki
3192,030210319000,Powiat świdnicki,2006,160230,świdnicki,219,Ogółem,świdnicki,TOTAL,1603,świdnicki
3193,030210319000,Powiat świdnicki,2007,159723,świdnicki,219,Ogółem,świdnicki,TOTAL,1721,świdnicki
3194,030210319000,Powiat świdnicki,2008,159396,świdnicki,219,Ogółem,świdnicki,TOTAL,1784,świdnicki
3195,030210319000,Powiat świdnicki,2009,159323,świdnicki,219,Ogółem,świdnicki,TOTAL,1697,świdnicki
3196,030210319000,Powiat świdnicki,2010,162386,świdnicki,219,Ogółem,świdnicki,TOTAL,1664,świdnicki
3197,030210319000,Powiat świdnicki,2011,162145,świdnicki,219,Ogółem,świdnicki,TOTAL,1591,świdnicki
3198,030210319000,Powiat świdnicki,2012,161737,świdnicki,219,Ogółem,świdnicki,TOTAL,1753,świdnicki
3199,030210319000,Powiat świdnicki,2013,160932,świdnicki,219,Ogółem,świdnicki,TOTAL,1709,świdnicki
3200,030210319000,Powiat świdnicki,2014,160438,świdnicki,219,Ogółem,świdnicki,TOTAL,1768,świdnicki
3201,030210319000,Powiat świdnicki,2015,159633,świdnicki,219,Ogółem,świdnicki,TOTAL,1777,świdnicki
3202,030210319000,Powiat świdnicki,2016,158939,świdnicki,219,Ogółem,świdnicki,TOTAL,1704,świdnicki
3203,030210319000,Powiat świdnicki,2017,158392,świdnicki,219,Ogółem,świdnicki,TOTAL,1759,świdnicki
3204,030210319000,Powiat świdnicki,2018,157615,świdnicki,219,Ogółem,świdnicki,TOTAL,1844,świdnicki
3205,030210319000,Powiat świdnicki,2019,156921,świdnicki,219,Ogółem,świdnicki,TOTAL,1882,świdnicki
3206,030210319000,Powiat świdnicki,2020,153694,świdnicki,219,Ogółem,świdnicki,TOTAL,2147,świdnicki
3207,030210319000,Powiat świdnicki,2021,152443,świdnicki,219,Ogółem,świdnicki,TOTAL,2280,świdnicki
6314,060611117000,Powiat świdnicki,2000,72533,świdnicki,617,Ogółem,świdnicki,TOTAL,677,świdnicki
6315,060611117000,Powiat świdnicki,2001,72428,świdnicki,617,Ogółem,świdnicki,TOTAL,687,świdnicki
6316,060611117000,Powiat świdnicki,2002,72466,świdnicki,617,Ogółem,świdnicki,TOTAL,657,świdnicki
6317,060611117000,Powiat świdnicki,2003,72568,świdnicki,617,Ogółem,świdnicki,TOTAL,678,świdnicki
6318,060611117000,Powiat świdnicki,2004,72301,świdnicki,617,Ogółem,świdnicki,TOTAL,753,świdnicki
6319,060611117000,Powiat świdnicki,2005,72206,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki
6320,060611117000,Powiat świdnicki,2006,72354,świdnicki,617,Ogółem,świdnicki,TOTAL,689,świdnicki
6321,060611117000,Powiat świdnicki,2007,72472,świdnicki,617,Ogółem,świdnicki,TOTAL,724,świdnicki
6322,060611117000,Powiat świdnicki,2008,72446,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki
6323,060611117000,Powiat świdnicki,2009,72366,świdnicki,617,Ogółem,świdnicki,TOTAL,731,świdnicki
6324,060611117000,Powiat świdnicki,2010,73428,świdnicki,617,Ogółem,świdnicki,TOTAL,792,świdnicki
6325,060611117000,Powiat świdnicki,2011,73326,świdnicki,617,Ogółem,świdnicki,TOTAL,773,świdnicki
6326,060611117000,Powiat świdnicki,2012,73047,świdnicki,617,Ogółem,świdnicki,TOTAL,758,świdnicki
6327,060611117000,Powiat świdnicki,2013,72960,świdnicki,617,Ogółem,świdnicki,TOTAL,653,świdnicki
6328,060611117000,Powiat świdnicki,2014,72750,świdnicki,617,Ogółem,świdnicki,TOTAL,715,świdnicki
6329,060611117000,Powiat świdnicki,2015,72642,świdnicki,617,Ogółem,świdnicki,TOTAL,710,świdnicki
6330,060611117000,Powiat świdnicki,2016,72495,świdnicki,617,Ogółem,świdnicki,TOTAL,753,świdnicki
6331,060611117000,Powiat świdnicki,2017,72412,świdnicki,617,Ogółem,świdnicki,TOTAL,765,świdnicki
6332,060611117000,Powiat świdnicki,2018,72039,świdnicki,617,Ogółem,świdnicki,TOTAL,786,świdnicki
6333,060611117000,Powiat świdnicki,2019,71840,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki
6334,060611117000,Powiat świdnicki,2020,70777,świdnicki,617,Ogółem,świdnicki,TOTAL,873,świdnicki
6335,060611117000,Powiat świdnicki,2021,70125,świdnicki,617,Ogółem,świdnicki,TOTAL,1008,świdnicki

In [454]:
merged_df['CMR'] = merged_df['deaths']/merged_df['population']*100000

In [455]:
merged_df.query("name_normalized_pop == 'świdnicki'")

,id,name,year,population,name_normalized_pop,powiat_numer,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot,CMR
3186,030210319000,Powiat świdnicki,2000,162536,świdnicki,219,Ogółem,świdnicki,TOTAL,1609,świdnicki,989.934538
3187,030210319000,Powiat świdnicki,2001,162219,świdnicki,219,Ogółem,świdnicki,TOTAL,1532,świdnicki,944.402320
3188,030210319000,Powiat świdnicki,2002,161763,świdnicki,219,Ogółem,świdnicki,TOTAL,1548,świdnicki,956.955546
3189,030210319000,Powiat świdnicki,2003,161333,świdnicki,219,Ogółem,świdnicki,TOTAL,1570,świdnicki,973.142506
3190,030210319000,Powiat świdnicki,2004,160856,świdnicki,219,Ogółem,świdnicki,TOTAL,1627,świdnicki,1011.463669
3191,030210319000,Powiat świdnicki,2005,160675,świdnicki,219,Ogółem,świdnicki,TOTAL,1561,świdnicki,971.526373
3192,030210319000,Powiat świdnicki,2006,160230,świdnicki,219,Ogółem,świdnicki,TOTAL,1603,świdnicki,1000.436872
3193,030210319000,Powiat świdnicki,2007,159723,świdnicki,219,Ogółem,świdnicki,TOTAL,1721,świdnicki,1077.490405
3194,030210319000,Powiat świdnicki,2008,159396,świdnicki,219,Ogółem,świdnicki,TOTAL,1784,świdnicki,1119.225075
3195,030210319000,Powiat świdnicki,2009,159323,świdnicki,219,Ogółem,świdnicki,TOTAL,1697,świdnicki,1065.131839
3196,030210319000,Powiat świdnicki,2010,162386,świdnicki,219,Ogółem,świdnicki,TOTAL,1664,świdnicki,1024.718880
3197,030210319000,Powiat świdnicki,2011,162145,świdnicki,219,Ogółem,świdnicki,TOTAL,1591,świdnicki,981.220513
3198,030210319000,Powiat świdnicki,2012,161737,świdnicki,219,Ogółem,świdnicki,TOTAL,1753,świdnicki,1083.858363
3199,030210319000,Powiat świdnicki,2013,160932,świdnicki,219,Ogółem,świdnicki,TOTAL,1709,świdnicki,1061.939204
3200,030210319000,Powiat świdnicki,2014,160438,świdnicki,219,Ogółem,świdnicki,TOTAL,1768,świdnicki,1101.983321
3201,030210319000,Powiat świdnicki,2015,159633,świdnicki,219,Ogółem,świdnicki,TOTAL,1777,świdnicki,1113.178353
3202,030210319000,Powiat świdnicki,2016,158939,świdnicki,219,Ogółem,świdnicki,TOTAL,1704,świdnicki,1072.109426
3203,030210319000,Powiat świdnicki,2017,158392,świdnicki,219,Ogółem,świdnicki,TOTAL,1759,świdnicki,1110.535886
3204,030210319000,Powiat świdnicki,2018,157615,świdnicki,219,Ogółem,świdnicki,TOTAL,1844,świdnicki,1169.939409
3205,030210319000,Powiat świdnicki,2019,156921,świdnicki,219,Ogółem,świdnicki,TOTAL,1882,świdnicki,1199.329599
3206,030210319000,Powiat świdnicki,2020,153694,świdnicki,219,Ogółem,świdnicki,TOTAL,2147,świdnicki,1396.931565
3207,030210319000,Powiat świdnicki,2021,152443,świdnicki,219,Ogółem,świdnicki,TOTAL,2280,świdnicki,1495.640994
6314,060611117000,Powiat świdnicki,2000,72533,świdnicki,617,Ogółem,świdnicki,TOTAL,677,świdnicki,933.368260
6315,060611117000,Powiat świdnicki,2001,72428,świdnicki,617,Ogółem,świdnicki,TOTAL,687,świdnicki,948.528194
6316,060611117000,Powiat świdnicki,2002,72466,świdnicki,617,Ogółem,świdnicki,TOTAL,657,świdnicki,906.632076
6317,060611117000,Powiat świdnicki,2003,72568,świdnicki,617,Ogółem,świdnicki,TOTAL,678,świdnicki,934.296108
6318,060611117000,Powiat świdnicki,2004,72301,świdnicki,617,Ogółem,świdnicki,TOTAL,753,świdnicki,1041.479371
6319,060611117000,Powiat świdnicki,2005,72206,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki,1024.845581
6320,060611117000,Powiat świdnicki,2006,72354,świdnicki,617,Ogółem,świdnicki,TOTAL,689,świdnicki,952.262487
6321,060611117000,Powiat świdnicki,2007,72472,świdnicki,617,Ogółem,świdnicki,TOTAL,724,świdnicki,999.006513
6322,060611117000,Powiat świdnicki,2008,72446,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki,1021.450460
6323,060611117000,Powiat świdnicki,2009,72366,świdnicki,617,Ogółem,świdnicki,TOTAL,731,świdnicki,1010.142885
6324,060611117000,Powiat świdnicki,2010,73428,świdnicki,617,Ogółem,świdnicki,TOTAL,792,świdnicki,1078.607616
6325,060611117000,Powiat świdnicki,2011,73326,świdnicki,617,Ogółem,świdnicki,TOTAL,773,świdnicki,1054.196329
6326,060611117000,Powiat świdnicki,2012,73047,świdnicki,617,Ogółem,świdnicki,TOTAL,758,świdnicki,1037.688064
6327,060611117000,Powiat świdnicki,2013,72960,świdnicki,617,Ogółem,świdnicki,TOTAL,653,świdnicki,895.010965
6328,060611117000,Powiat świdnicki,2014,72750,świdnicki,617,Ogółem,świdnicki,TOTAL,715,świdnicki,982.817869
6329,060611117000,Powiat świdnicki,2015,72642,świdnicki,617,Ogółem,świdnicki,TOTAL,710,świdnicki,977.395997
6330,060611117000,Powiat świdnicki,2016,72495,świdnicki,617,Ogółem,świdnicki,TOTAL,753,świdnicki,1038.692324
6331,060611117000,Powiat świdnicki,2017,72412,świdnicki,617,Ogółem,świdnicki,TOTAL,765,świdnicki,1056.454731
6332,060611117000,Powiat świdnicki,2018,72039,świdnicki,617,Ogółem,świdnicki,TOTAL,786,świdnicki,1091.075667
6333,060611117000,Powiat świdnicki,2019,71840,świdnicki,617,Ogółem,świdnicki,TOTAL,740,świdnicki,1030.066815
6334,060611117000,Powiat świdnicki,2020,70777,świdnicki,617,Ogółem,świdnicki,TOTAL,873,świdnicki,1233.451545
6335,060611117000,Powiat świdnicki,2021,70125,świdnicki,617,Ogółem,świdnicki,TOTAL,1008,świdnicki,1437.433155

In [456]:
merged_df.to_csv('../results/CMR_total_Y.csv', index=False)

### Sprawdzenie

In [472]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8336 non-null   object
 1   name                 8336 non-null   object
 2   year                 8336 non-null   string
 3   population           8336 non-null   int64
 4   name_normalized_pop  8336 non-null   object
 5   powiat_numer         8336 non-null   object
 6   wiek                 8336 non-null   object
 7   powiat_nazwa         8336 non-null   object
 8   wiek_eurostat        8336 non-null   object
 9   deaths               8336 non-null   int64
 10  name_normalized_tot  8336 non-null   object
 11  CMR                  8336 non-null   float64
dtypes: float64(1), int64(2), object(8), string(1)
memory usage: 781.6+ KB

In [458]:
merged_df.groupby('name_normalized_pop').count().query("year > 22")

,id,name,year,population,powiat_numer,wiek,powiat_nazwa,wiek_eurostat,deaths,name_normalized_tot,CMR
name_normalized_pop,,,,,,,,,,,
bielski,44,44,44,44,44,44,44,44,44,44,44
brzeski,44,44,44,44,44,44,44,44,44,44,44
grodziski,44,44,44,44,44,44,44,44,44,44,44
krośnieński,44,44,44,44,44,44,44,44,44,44,44
nowodworski,44,44,44,44,44,44,44,44,44,44,44
opolski,44,44,44,44,44,44,44,44,44,44,44
ostrowski,44,44,44,44,44,44,44,44,44,44,44
tomaszowski,44,44,44,44,44,44,44,44,44,44,44
średzki,44,44,44,44,44,44,44,44,44,44,44
świdnicki,44,44,44,44,44,44,44,44,44,44,44

In [388]:
merged_df

,id,name,year,population,name_normalized,wiek,powiat_numer,powiat_nazwa,wiek_eurostat,deaths,CRM
0,011212001000,Powiat bocheński,2000,97328,bocheński,Ogółem,1201,bocheński,TOTAL,837,859.978629
1,011212001000,Powiat bocheński,2001,97602,bocheński,Ogółem,1201,bocheński,TOTAL,863,884.203193
2,011212001000,Powiat bocheński,2002,97962,bocheński,Ogółem,1201,bocheński,TOTAL,896,914.640371
3,011212001000,Powiat bocheński,2003,98394,bocheński,Ogółem,1201,bocheński,TOTAL,840,853.710592
4,011212001000,Powiat bocheński,2004,100063,bocheński,Ogółem,1201,bocheński,TOTAL,866,865.454763
...,...,...,...,...,...,...,...,...,...,...,...
8767,071427338000,Powiat żyrardowski,2017,76056,żyrardowski,Ogółem,1438,żyrardowski,TOTAL,956,1256.968549
8768,071427338000,Powiat żyrardowski,2018,75848,żyrardowski,Ogółem,1438,żyrardowski,TOTAL,979,1290.739373
8769,071427338000,Powiat żyrardowski,2019,75749,żyrardowski,Ogółem,1438,żyrardowski,TOTAL,926,1222.458382
8770,071427338000,Powiat żyrardowski,2020,76141,żyrardowski,Ogółem,1438,żyrardowski,TOTAL,1124,1476.208613
8771,071427338000,Powiat żyrardowski,2021,75614,żyrardowski,Ogółem,1438,żyrardowski,TOTAL,1252,1655.778031

In [400]:
merged_df.query("name_normalized == 'świdnicki'")

,id,name,year,population,name_normalized,wiek,powiat_numer,powiat_nazwa,wiek_eurostat,deaths,CRM
3580,030210319000,Powiat świdnicki,2000,162536,świdnicki,Ogółem,219,świdnicki,TOTAL,1609,989.934538
3581,030210319000,Powiat świdnicki,2000,162536,świdnicki,Ogółem,617,świdnicki,TOTAL,677,416.523109
3582,060611117000,Powiat świdnicki,2000,72533,świdnicki,Ogółem,219,świdnicki,TOTAL,1609,2218.300636
3583,060611117000,Powiat świdnicki,2000,72533,świdnicki,Ogółem,617,świdnicki,TOTAL,677,933.368260
3584,030210319000,Powiat świdnicki,2001,162219,świdnicki,Ogółem,219,świdnicki,TOTAL,1532,944.402320
...,...,...,...,...,...,...,...,...,...,...,...
3663,060611117000,Powiat świdnicki,2020,70777,świdnicki,Ogółem,617,świdnicki,TOTAL,873,1233.451545
3664,030210319000,Powiat świdnicki,2021,152443,świdnicki,Ogółem,219,świdnicki,TOTAL,2280,1495.640994
3665,030210319000,Powiat świdnicki,2021,152443,świdnicki,Ogółem,617,świdnicki,TOTAL,1008,661.230755
3666,060611117000,Powiat świdnicki,2021,70125,świdnicki,Ogółem,219,świdnicki,TOTAL,2280,3251.336898
3667,060611117000,Powiat świdnicki,2021,70125,świdnicki,Ogółem,617,świdnicki,TOTAL,1008,1437.433155

In [ ]:
merged_df['JPT_KOD_JE'] = []

In [378]:
len(merged_df['powiat_numer'])

8772

In [372]:
poland = gpd.read_file("https://www.gis-support.pl/downloads/2022/powiaty.zip")

In [460]:
poland['powiat_numer'] = poland['JPT_KOD_JE'].astype('int').astype('string')

In [461]:
poland["powiat_nazwa"] = poland["JPT_NAZWA_"].str.replace("powiat ", "")

In [500]:
poland

,gml_id,JPT_SJR_KO,JPT_POWIER,JPT_KOD_JE,JPT_NAZWA_,JPT_ORGAN_,JPT_JOR_ID,WERSJA_OD,WERSJA_DO,WAZNY_OD,...,JPT_KJ_I_3,JPT_GEOMET,JPT_GEOM_1,SHAPE_LENG,SHAPE_AREA,REGON,RODZAJ,geometry,powiat_numer,powiat_nazwa
0,NaN,POW,92617,1807,powiat krośnieński,NaN,13415,20210128,0,20170101,...,NaN,0,0,3.11205337354,.12332626559,37044051900000,powiat,"POLYGON ((689863.285 218885.536, 689862.128 21...",1807,krośnieński
1,NaN,POW,141297,2804,powiat elbląski,NaN,13422,20210514,0,20120926,...,NaN,0,0,4.2521309989,.19417975633,17074769000000,powiat,"POLYGON ((551842.165 693417.652, 551870.912 69...",2804,elbląski
2,NaN,POW,209827,1415,powiat ostrołęcki,NaN,13409,20210518,0,20120926,...,NaN,0,0,5.31641009622,.28125317026,55066883500000,powiat,"POLYGON ((646230.458 617154.258, 646336.602 61...",1415,ostrołęcki
3,NaN,POW,79097,0413,powiat sępoleński,NaN,13424,20220112,0,20120926,...,NaN,0,0,2.00313300009,.10690160786,09235092600000,powiat,"POLYGON ((384997.245 615178.269, 385170.687 61...",413,sępoleński
4,NaN,POW,126576,3019,powiat pilski,NaN,13417,20220112,0,20120926,...,NaN,0,0,4.17134504707,.17008216429,57079948000000,powiat,"POLYGON ((342585.530 579834.380, 342632.859 57...",3019,pilski
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NaN,POW,84542,3201,powiat białogardzki,NaN,13423,20120926,0,20120926,...,NaN,0,0,2.91625262584,.11576633163,33092083100000,powiat,"POLYGON ((315199.533 689953.379, 315196.517 68...",3201,białogardzki
376,NaN,POW,3323,2463,powiat Chorzów,NaN,13421,20120926,0,20120926,...,NaN,0,0,.43093817527,.00420344185,brak,powiat,"POLYGON ((496873.856 263549.381, 496859.841 26...",2463,Chorzów
377,NaN,POW,8407,0265,powiat Wałbrzych,NaN,13410,20130712,0,20130101,...,NaN,0,0,.73866138212,.01079484441,89071849000000,powiat,"POLYGON ((306923.077 320137.265, 306913.670 32...",265,Wałbrzych
378,NaN,POW,37096,1203,powiat chrzanowski,NaN,13412,20180927,0,20120926,...,NaN,0,0,1.64772961481,.04648228924,27625497900000,powiat,"POLYGON ((537088.752 239587.792, 537082.924 23...",1203,chrzanowski
379,NaN,POW,64560,1013,powiat rawski,NaN,13413,20190319,0,20120926,...,NaN,0,0,2.15824368448,.0841386484,75014777400000,powiat,"POLYGON ((588732.713 424569.991, 588733.478 42...",1013,rawski

In [465]:
merged_poland_df = pd.merge(merged_df, poland, on=['powiat_numer'], how='left')

In [501]:
merged_poland_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8336 non-null   object
 1   name                 8336 non-null   object
 2   year                 8336 non-null   string
 3   population           8336 non-null   int64
 4   name_normalized_pop  8336 non-null   object
 5   powiat_numer         8336 non-null   object
 6   wiek                 8336 non-null   object
 7   powiat_nazwa_x       8336 non-null   object
 8   wiek_eurostat        8336 non-null   object
 9   deaths               8336 non-null   int64
 10  name_normalized_tot  8336 non-null   object
 11  CMR                  8336 non-null   float64
 12  JPT_SJR_KO           8331 non-null   object
 13  JPT_POWIER           8331 non-null   object
 14  JPT_KOD_JE           8331 non-null   object
 15  JPT_NAZWA_           8331 non-null   object
 16  JPT_JOR_ID           8331 non-null   object
 17  WERSJA_OD            8331 non-null   object
 18  WERSJA_DO            8331 non-null   object
 19  WAZNY_OD             8331 non-null   object
 20  WAZNY_DO             8331 non-null   object
 21  JPT_KOD__1           0 non-null      float64
 22  JPT_NAZWA1           0 non-null      float64
 23  JPT_ORGAN1           8331 non-null   object
 24  JPT_WAZNA_           8331 non-null   object
 25  ID_BUFORA_           8331 non-null   object
 26  ID_BUFORA1           8331 non-null   object
 27  ID_TECHNIC           8331 non-null   object
 28  IIP_PRZEST           8331 non-null   object
 29  IIP_IDENTY           8331 non-null   object
 30  IIP_WERSJA           8331 non-null   object
 31  JPT_KJ_IIP           8331 non-null   object
 32  JPT_KJ_I_1           8331 non-null   object
 33  JPT_KJ_I_2           0 non-null      float64
 34  JPT_OPIS             0 non-null      float64
 35  JPT_SPS_KO           8331 non-null   object
 36  ID_BUFOR_1           8331 non-null   object
 37  JPT_ID               8331 non-null   object
 38  JPT_POWI_1           8331 non-null   object
 39  JPT_KJ_I_3           0 non-null      float64
 40  JPT_GEOMET           8331 non-null   object
 41  JPT_GEOM_1           8331 non-null   object
 42  SHAPE_LENG           8331 non-null   object
 43  SHAPE_AREA           8331 non-null   object
 44  REGON                8331 non-null   object
 45  RODZAJ               8331 non-null   object
 46  geometry             8331 non-null   geometry
 47  powiat_nazwa_y       8331 non-null   object
dtypes: float64(6), geometry(1), int64(2), object(38), string(1)
memory usage: 3.1+ MB

In [467]:
merged_poland_df.drop(['JPT_ORGAN_', 'gml_id'], inplace=True, axis=1)

In [482]:
merged_poland_df

,id,name,year,population,name_normalized_pop,powiat_numer,wiek,powiat_nazwa_x,wiek_eurostat,deaths,...,JPT_POWI_1,JPT_KJ_I_3,JPT_GEOMET,JPT_GEOM_1,SHAPE_LENG,SHAPE_AREA,REGON,RODZAJ,geometry,powiat_nazwa_y
0,011212001000,Powiat bocheński,2000,97328,bocheński,1201,Ogółem,bocheński,TOTAL,837,...,0,NaN,0,0,2.05416463208,.08126218737,85166056500000,powiat,"POLYGON ((614191.067 246004.382, 614250.737 24...",bocheński
1,011212001000,Powiat bocheński,2001,97602,bocheński,1201,Ogółem,bocheński,TOTAL,863,...,0,NaN,0,0,2.05416463208,.08126218737,85166056500000,powiat,"POLYGON ((614191.067 246004.382, 614250.737 24...",bocheński
2,011212001000,Powiat bocheński,2002,97962,bocheński,1201,Ogółem,bocheński,TOTAL,896,...,0,NaN,0,0,2.05416463208,.08126218737,85166056500000,powiat,"POLYGON ((614191.067 246004.382, 614250.737 24...",bocheński
3,011212001000,Powiat bocheński,2003,98394,bocheński,1201,Ogółem,bocheński,TOTAL,840,...,0,NaN,0,0,2.05416463208,.08126218737,85166056500000,powiat,"POLYGON ((614191.067 246004.382, 614250.737 24...",bocheński
4,011212001000,Powiat bocheński,2004,100063,bocheński,1201,Ogółem,bocheński,TOTAL,866,...,0,NaN,0,0,2.05416463208,.08126218737,85166056500000,powiat,"POLYGON ((614191.067 246004.382, 614250.737 24...",bocheński
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331,071427338000,Powiat żyrardowski,2017,76056,żyrardowski,1438,Ogółem,żyrardowski,TOTAL,956,...,0,NaN,0,0,2.07364770937,.06969392034,75014782800000,powiat,"POLYGON ((585892.271 466202.275, 585839.974 46...",żyrardowski
8332,071427338000,Powiat żyrardowski,2018,75848,żyrardowski,1438,Ogółem,żyrardowski,TOTAL,979,...,0,NaN,0,0,2.07364770937,.06969392034,75014782800000,powiat,"POLYGON ((585892.271 466202.275, 585839.974 46...",żyrardowski
8333,071427338000,Powiat żyrardowski,2019,75749,żyrardowski,1438,Ogółem,żyrardowski,TOTAL,926,...,0,NaN,0,0,2.07364770937,.06969392034,75014782800000,powiat,"POLYGON ((585892.271 466202.275, 585839.974 46...",żyrardowski
8334,071427338000,Powiat żyrardowski,2020,76141,żyrardowski,1438,Ogółem,żyrardowski,TOTAL,1124,...,0,NaN,0,0,2.07364770937,.06969392034,75014782800000,powiat,"POLYGON ((585892.271 466202.275, 585839.974 46...",żyrardowski
8335,071427338000,Powiat żyrardowski,2021,75614,żyrardowski,1438,Ogółem,żyrardowski,TOTAL,1252,...,0,NaN,0,0,2.07364770937,.06969392034,75014782800000,powiat,"POLYGON ((585892.271 466202.275, 585839.974 46...",żyrardowski

In [484]:
merged_poland_df.to_csv('../results/CMR_total_coords.csv', index=False)

In [515]:
ALL_CRM_Y = pd.read_csv('/Users/nelatoma/Documents/icm/magisterka/zgony/MAGISTERKA_OFFICIAL/poviats_code/results/CMR_total_Y.csv')
ALL_CRM_Y['powiat_numer'] = ALL_CRM_Y['powiat_numer'].astype('str')
poviats_CRM_coord_Y = pd.merge(ALL_CRM_Y, poland, on='powiat_numer', how='left')

# Age groups

In [517]:
age_groups = """Y_LT5    72306
Y5-9    72307
Y10-14    72308
Y15-19    72309
Y20-24    47734
Y25-29    47694
Y30-34    47722
Y35-39    47701
Y40-44    47707
Y45-49    47726
Y50-54    47717
Y55-59    47732
Y60-64    47739
Y65-69    72239
Y70-74    76022
Y75-79    76023
Y80-84    76024
Y_GE85    76025"""

# Split the data into lines and then split each line into key and value
lines = age_groups.split("\n")
keys = []
values = []

for line in lines:
    key, value = line.split()
    keys.append(key)
    values.append(int(value))

# Create a dictionary from the keys and values lists
age_dict = dict(zip(keys, values))
print(age_dict)

{'Y_LT5': 72306, 'Y5-9': 72307, 'Y10-14': 72308, 'Y15-19': 72309, 'Y20-24': 47734, 'Y25-29': 47694, 'Y30-34': 47722, 'Y35-39': 47701, 'Y40-44': 47707, 'Y45-49': 47726, 'Y50-54': 47717, 'Y55-59': 47732, 'Y60-64': 47739, 'Y65-69': 72239, 'Y70-74': 76022, 'Y75-79': 76023, 'Y80-84': 76024, 'Y_GE85': 76025}

In [518]:
population_df_copy

,id,name,year,population,name_normalized,powiat_numer
0,011212001000,Powiat bocheński,2000,97328,bocheński,1201
1,011212001000,Powiat bocheński,2001,97602,bocheński,1201
2,011212001000,Powiat bocheński,2002,97962,bocheński,1201
3,011212001000,Powiat bocheński,2003,98394,bocheński,1201
4,011212001000,Powiat bocheński,2004,100063,bocheński,1201
...,...,...,...,...,...,...
1775,071427338000,Powiat żyrardowski,2017,76056,żyrardowski,1438
1776,071427338000,Powiat żyrardowski,2018,75848,żyrardowski,1438
1777,071427338000,Powiat żyrardowski,2019,75749,żyrardowski,1438
1778,071427338000,Powiat żyrardowski,2020,76141,żyrardowski,1438
1779,071427338000,Powiat żyrardowski,2021,75614,żyrardowski,1438

In [519]:
population_df_copy.to_csv('../results/population_TOTAL.csv', index=False)